template#template-position-state
  .position-state.nav-content-item(v-cloak, v-show="active", v-on="click: stop($event)")
    a(
      v-attr="href: val.href",
      v-repeat="val in list",
      v-on="click: onClick($event, val, $index)",
      v-class="active: val.active"
    ) {{val.name}}
