template#template-talent-libs-title-0
  .item.clearfix
    .col.content-main-col-1
      h3.title {{candidate}}
    .col.content-main-col-2
      h3.title {{recentPosition}}
    .col.content-main-col-3
      h3.title {{intentCity}}
    .col.content-main-col-4
      h3.title {{headhunterCompany}}
    .col.content-main-col-5
      h3.title {{uploadConsult}}
    .col.content-main-col-6
      h3.title {{refreshTime}}
    .col.content-main-col-7
