extends ./layout/index

append metas
  include ./metas

append header
  include ./header

append content
  include ./content

append foot
  include ./foot

append copyright
  include ./copyright

append script
  include ./script