mixin show-site-header-menu(arrNew)
  #site-header-menu.fr
    ul.site-header-link-menu
      li
        if arrNew && ~arrNew.indexOf('person')
          i.img.img-info-new
        a.img.img-header-menu.img-hm-person(href="#")
      li
        if arrNew && ~arrNew.indexOf('info')
          i.img.img-info-new
        a.img.img-header-menu.img-hm-info(href="#")
      li
        if arrNew && ~arrNew.indexOf('mail')
          i.img.img-info-new
        a.img.img-header-menu.img-hm-mail(href="#")
      li
        if arrNew && ~arrNew.indexOf('switch')
          i.img.img-info-new
        a.img.img-header-menu.img-hm-switch(href="#")

mixin show-site-logo()
  #site-logo.fl
    a.img.img-logo(href="#")

mixin show-header(arrNew)
  #header
    .header-container
      .clearfix
        +show-site-logo()
        +show-site-header-menu(arrNew)