template#template-custom
  .custom.nav-content-item(v-cloak, v-show="active", v-on="click: stop($event)")
    p(v-repeat="val in list")
      a(
        v-on="click:onClick($event, val, $index)",
        v-class="active: val.active",
        href="#"
      ) {{val.name}}
