include ../../mixin
- var postionData = {};
- postionData.city = "麻花沟村职位";
- postionData.sum = 80;
- var item1 = {};
- item1.desc = { position: "投资部总监/总经理 - 翠花", company : "IBM" };
- item1.recommending = [];
- item1.recommending[0] = { name : "Jack", isNew: true, level: 2 };
- item1.recommending[1] = { name : "Jack", isNew: false, level: 4 };
- item1.recommending[2] = { name : "Jack", isNew: true, level: 3 };
- item1.recommending[3] = { name : "Jack", isNew: false, level: 5 };
- item1.recommending[4] = { name : "Jack", isNew: true, level: 3 };
- item1.recommending[5] = { name : "Jack", isNew: false, level: 0 };
- item1.recommending[6] = { name : "Jack", isNew: true, level: 3 };
- item1.recommending[7] = { name : "Jack", isNew: true, level: 1 };
- item1.matched = [];
- item1.matched[0] = { name : "Robert", isNew: true, level: 4 };
- item1.matched[1] = { name : "Robert", isNew: false, level: 1 };
- item1.matched[2] = { name : "Robert", isNew: false, level: 1 };
- item1.matched[3] = { name : "Robert", isNew: false, level: 1 };
- item1.matched[4] = { name : "Robert", isNew: false, level: 1 };
- item1.update = {};
- item1.update.ymd = "2015/10/30";
- item1.update.hms = "16:00";
- aitems = [item1, item1, item1, item1, item1, item1, item1, item1, item1, item1, item1];

#home
	include ./selection-menu.jade
	#home-info
		#home-info-header
			+make-info-crumb(postionData)
		#home-info-title
			+info-titles()
		#home-info-content
			+info-content-items(aitems)