.selection-nav-list.clearfix
  a.selection-nav.selction-nav-job-state(href="#", index="0")
    i.img.img-selction.img-job-state
    span 职位状态
    .selection-mask
  a.selection-nav.selction-nav-industry-function(href="#", index="1")
    i.img.img-selction.img-industry-function
    span 行业职能
    .selection-mask
  a.selection-nav.selction-nav-cities(href="#", index="2")
    i.img.img-selction.img-cities
    span 城市
    .selection-mask
  a.selection-nav.selction-nav-customer(href="#", index="3")
    i.img.img-selction.img-customer
    span 客户
    .selection-mask
  a.selection-nav.selction-nav-customer-manager(href="#", index="4")
    i.img.img-selction.img-customer-manager
    span  客户经理
    .selection-mask