extends ../_base/index
append stylesheets
  link(rel="stylesheet", href="../_base/index.css")
  link(rel="stylesheet", href="./test.css")
  style.
    body { height: 1000px; }
append script
  script(type="text/javascript", src="../../require.js", data-main="./test.js")
append part
  include ./index
