<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>index</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../../../stylesheets/fa/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../_base/index.css"/>
  <link rel="stylesheet" href="./test.css"/>
  <style>body { height: 1000px; }</style>
  <script type="text/javascript" src="../../require.js" data-main="./test.js"></script>
</head>
<body>
  <div id="page">
    <div id="content" v-class="hidden:!active">
      <div class="container">
        <template id="template-my-position-title">
          <ul class="container my-position-title">
            <li class="content-main-col-1">
              <div class="my-position-item"><i v-class="fa-circle-o: !count, fa-check-circle-o: count" v-on="click: onClick($event)" class="fa"></i></div>
            </li>
            <li class="content-main-col-2">
              <div class="my-position-item">
                <h2>{{position}}</h2>
              </div>
            </li>
            <li class="content-main-col-3">
              <div class="my-position-item">
                <h2>{{recommandingTalent}}</h2>
              </div>
            </li>
            <li class="content-main-col-4">
              <div class="my-position-item">
                <h2>{{readyRecommandingTalent}}</h2>
              </div>
            </li>
            <li class="content-main-col-5">
              <div class="my-position-item">
                <h2>{{update}}</h2>
              </div>
            </li>
            <li class="content-main-col-6">
              <div class="my-position-item"></div>
            </li>
          </ul>
        </template>
        <template id="template-my-position-content">
          <ul v-repeat="item in list[currentIndex]" wait-for="data-loaded" class="container my-position-content">
            <li class="content-main-col-1">
              <div class="my-position-item"><i v-class="fa-circle-o: !item.count, fa-check-circle-o: item.count" v-on="click: item.count = !item.count" class="fa"></i>
                <!--v-on="mouseenter:enterDesc($event, item.desc, item), mouseleave:leaveDesc($event, item.desc, item)"-->
              </div>
            </li>
            <li class="content-main-col-2">
              <div v-on="mouseenter: enterCol2($event, item), mouseleave: leaveCol2($event, item)" class="my-position-item">
                <h2 class="pos-title">{{item.desc.name}}</h2>
                <h2 class="pos-desc">{{item.desc.position}}</h2>
                <artical v-show="item.desc.active" class="my-position-desc-preview">
                  <div class="caret-left"></div>
                  <ul>
                    <li>
                      <h2>职位信息</h2>
                      <p><i>职位名称:</i><em>投资部经理</em></p>
                      <p><i>发布时间:</i><em>7月28日15:57</em></p>
                      <p><i>工作地点:</i><em>上海</em></p>
                      <p><i>学历要求:</i><em>本科</em></p>
                      <p><i>汇报对象:</i><em>总经理</em></p>
                      <p><i>招聘人数:</i><em>1人</em></p>
                      <p><i>所属行业:</i><em>房地产/投资开发/投资</em></p>
                      <p><i>年龄要求:</i><em>30-45人</em></p>
                    </li>
                    <li class="my-position-desc-pd">
                      <h2>职位描述</h2>
                      <div class="my-position-desc-pd-c">
                        <div>
                          <p><i>职位需求:</i><em>投资部经理</em></p>
                          <p><i>汇报对象:</i><em>总经理</em></p>
                          <p><i>下属人数:</i><em>3名</em></p>
                          <p><i>岗位描述:</i></p>
                          <ol>
                            <li>
                              <p>参与制定具体的发展目标，根据公司发展战略，把握投资方向。</p>
                            </li>
                            <li>
                              <p>参与制定具体的发展目标，根据公司发展战略，把握投资方向。</p>
                            </li>
                            <li>
                              <p>参与制定具体的发展目标，根据公司发展战略，把握投资方向。</p>
                            </li>
                            <li>
                              <p>参与制定具体的发展目标，根据公司发展战略，把握投资方向。</p>
                            </li>
                          </ol>
                          <p><i>工作地址:</i><em>上海北京东路科技京城</em></p>
                        </div>
                      </div>
                      <div class="my-position-desc-pd-scrollbar">
                        <div v-on="mousedown: scrollbarMouseDown($event)"></div>
                      </div>
                    </li>
                    <li>
                      <h2>薪酬福利</h2>
                      <p><i>职位年薪:</i><em>60-80W/年</em></p>
                      <p><i>薪资构成:</i><em>30万12个月发，剩下30万年底发</em></p>
                    </li>
                  </ul>
                </artical>
              </div>
            </li>
            <li class="content-main-col-3">
              <div class="my-position-item">
                <ul class="clearfix">
                  <li v-repeat="val in item.recommending" v-show="val.active" v-transition="expand" stagger="100" class="info-talent-person">
                    <p class="talent-desc"><a href="#" class="talen-name">{{val.name}}</a><i v-if="val.isNew" class="img img-info-new"></i></p>
                    <p class="talent-level"><i v-repeat="val.level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - val.level" class="img img-talent img-talent-level"></i></p>
                  </li>
                </ul><a href="#" v-show="item.recommending.length &gt; 6" v-on="click:onClickRecommendingBtn($event, item)" v-class="&quot;fa-chevron-circle-down&quot;: !item.active, &quot;fa-chevron-circle-up&quot;: item.active" class="talent-btn fa"></a>
              </div>
            </li>
            <li class="content-main-col-4">
              <div class="my-position-item">
                <ul class="clearfix">
                  <li v-repeat="val in item.matched" class="info-talent-person">
                    <p class="talent-desc"><a href="#" class="talen-name">{{val.name}}</a><i v-if="val.isNew" class="img img-info-new"></i></p>
                    <p class="talent-level"><i v-repeat="val.level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - val.level" class="img img-talent img-talent-level"></i></p>
                  </li>
                </ul>
              </div>
            </li>
            <li class="content-main-col-5">
              <div class="my-position-item">
                <h3 class="ymd">{{item.update.ymd}}</h3>
                <h3 class="hms">{{item.update.hms}}</h3>
              </div>
            </li>
            <li class="content-main-col-6">
              <div class="my-position-item">
                <p><a v-attr="href:val.href" v-repeat="val in item.notes" v-on="click:onClickEdit($event, val, item)" class="img-item-4 {{val.className}}"></a></p>
              </div>
            </li>
          </ul>
        </template>
        <template id="template-my-position-aside">
          <div class="my-position-aside">
            <div class="my-position-side-btns">
              <h2 class="my-position-publish">发布职位</h2>
              <h2 class="my-position-delegate">委托职位</h2>
            </div>
            <div class="side-img-1"><a href="{{img1.href}}"><img v-attr="src:img1.imgSrc"/></a></div>
            <div class="side-img-2">
              <div v-repeat="item in items" class="side-img-item">
                <div class="side-img-item-img"><a href="#"><img v-attr="src:item.imgSrc"/></a></div>
                <p class="side-img-item-title"><a href="{{item.href}}">{{item.title}}</a></p>
                <p class="side-img-item-content"><a href="{{item.href}}">{{item.content}}</a></p>
              </div>
            </div>
          </div>
        </template>
        <template id="template-my-position-pagination">
          <div v-show="active" class="pagination">
            <ul class="clearfix">
              <li><a href="#" v-on="click: onClick($event, cur - 1)">上一页</a></li>
              <li v-repeat="i in len" v-class="active: cur === i" v-show="i &lt;= start + remaining &amp;&amp; i &gt; start - 1"><a href="#" v-on="click: onClick($event, i)">{{i + 1}}</a></li>
              <li class="remaining"><span v-show="start + remaining &lt; len - 1">...</span></li>
              <li class="next"><a href="#" v-on="click: onClick($event, cur + 1)">下一页</a></li>
            </ul>
          </div>
        </template>
        <div v-show="active" class="my-position">
          <main>
            <my-position-title></my-position-title>
            <my-position-content></my-position-content>
            <my-position-pagination></my-position-pagination>
          </main>
          <aside>
            <my-position-aside></my-position-aside>
          </aside>
        </div>
        <template id="template-delegate-position-title">
          <ul class="container delegate-position-title">
            <li class="content-main-col-1">
              <div class="delegate-position-item"><i v-class="fa-circle-o: !count, fa-check-circle-o: count" v-on="click: onClick($event)" class="fa"></i></div>
            </li>
            <li class="content-main-col-2">
              <div class="delegate-position-item">
                <h2>{{position}}</h2>
              </div>
            </li>
            <li class="content-main-col-3">
              <div class="delegate-position-item">
                <h2>{{customManager}}</h2>
              </div>
            </li>
            <li class="content-main-col-4">
              <div class="delegate-position-item">
                <h2>{{recommandingTalent}}</h2>
              </div>
            </li>
            <li class="content-main-col-5">
              <div class="delegate-position-item">
                <h2>{{readyRecommandingTalent}}</h2>
              </div>
            </li>
            <li class="content-main-col-6">
              <div class="delegate-position-item">
                <h2>{{update}}</h2>
              </div>
            </li>
            <li class="content-main-col-7">
              <div class="delegate-position-item"></div>
            </li>
          </ul>
        </template>
        <template id="template-delegate-position-content">
          <ul v-repeat="item in list[currentIndex]" wait-for="data-loaded" class="container delegate-position-content">
            <li class="content-main-col-1">
              <div class="delegate-position-item"><i v-class="fa-circle-o: !item.count, fa-check-circle-o: item.count" v-on="click: item.count = !item.count" class="fa"></i></div>
            </li>
            <li v-on="mouseenter: enterCol2($event, item), mouseleave: leaveCol2($event, item)" class="content-main-col-2">
              <div class="delegate-position-item">
                <p><i>{{item.desc.name}}</i></p>
                <p><i>{{item.desc.position}}</i></p>
                <artical v-show="item.desc.active" class="delegate-position-desc-preview">
                  <div class="caret-left"></div>
                  <ul>
                    <li>
                      <h2>职位信息</h2>
                      <p><i>职位名称:</i><em>投资部经理</em></p>
                      <p><i>发布时间:</i><em>7月28日15:57</em></p>
                      <p><i>工作地点:</i><em>上海</em></p>
                      <p><i>学历要求:</i><em>本科</em></p>
                      <p><i>汇报对象:</i><em>总经理</em></p>
                      <p><i>招聘人数:</i><em>1人</em></p>
                      <p><i>所属行业:</i><em>房地产/投资开发/投资</em></p>
                      <p><i>年龄要求:</i><em>30-45人</em></p>
                    </li>
                    <li class="delegate-position-desc-pd">
                      <h2>职位描述</h2>
                      <div class="delegate-position-desc-pd-c">
                        <div>
                          <p><i>职位需求:</i><em>投资部经理</em></p>
                          <p><i>汇报对象:</i><em>总经理</em></p>
                          <p><i>下属人数:</i><em>3名</em></p>
                          <p><i>岗位描述:</i></p>
                          <ol>
                            <li>
                              <p>参与制定具体的发展目标，根据公司发展战略，把握投资方向。</p>
                            </li>
                            <li>
                              <p>参与制定具体的发展目标，根据公司发展战略，把握投资方向。</p>
                            </li>
                            <li>
                              <p>参与制定具体的发展目标，根据公司发展战略，把握投资方向。</p>
                            </li>
                            <li>
                              <p>参与制定具体的发展目标，根据公司发展战略，把握投资方向。</p>
                            </li>
                          </ol>
                          <p><i>工作地址:</i><em>上海北京东路科技京城</em></p>
                        </div>
                      </div>
                      <div class="delegate-position-desc-pd-scrollbar">
                        <div v-on="mousedown: scrollbarMouseDown($event)"></div>
                      </div>
                    </li>
                    <li>
                      <h2>薪酬福利</h2>
                      <p><i>职位年薪:</i><em>60-80W/年</em></p>
                      <p><i>薪资构成:</i><em>30万12个月发，剩下30万年底发</em></p>
                    </li>
                  </ul>
                </artical>
              </div>
            </li>
            <li class="content-main-col-3">
              <div class="delegate-position-item">
                <p><i href="#" class="custom-manager-name">{{item.customManager.name}}</i><i class="fa fa-wechat"></i></p>
                <p><i class="custom-manager-from">{{item.customManager.from}}</i></p>
              </div>
            </li>
            <li class="content-main-col-4">
              <div class="delegate-position-item">
                <ul class="clearfix">
                  <li v-repeat="val in item.recommending" v-show="val.active" v-transition="expand" stagger="100" class="info-talent-person">
                    <p class="talent-desc"><a href="#" class="talen-name">{{val.name}}</a><i v-if="val.isNew" class="img img-info-new"></i></p>
                    <p class="talent-level"><i v-repeat="val.level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - val.level" class="img img-talent img-talent-level"></i></p>
                  </li>
                </ul><a href="#" v-show="item.recommending.length &gt; 4" v-on="click:onClickRecommendingBtn($event, item)" v-class="&quot;fa-chevron-circle-down&quot;: !item.active, &quot;fa-chevron-circle-up&quot;: item.active" class="talent-btn fa"></a>
              </div>
            </li>
            <li class="content-main-col-5">
              <div class="delegate-position-item">
                <ul class="clearfix">
                  <li v-repeat="val in item.matched" class="info-talent-person">
                    <p class="talent-desc"><a href="#" class="talen-name">{{val.name}}</a><i v-if="val.isNew" class="img img-info-new"></i></p>
                    <p class="talent-level"><i v-repeat="val.level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - val.level" class="img img-talent img-talent-level"></i></p>
                  </li>
                </ul>
              </div>
            </li>
            <li class="content-main-col-6">
              <div class="delegate-position-item">
                <h3 class="ymd">{{item.update.ymd}}</h3>
                <h3 class="hms">{{item.update.hms}}</h3>
              </div>
            </li>
            <li class="content-main-col-7">
              <div class="delegate-position-item">
                <p><a v-attr="href:val.href" v-repeat="val in item.notes" v-on="click:onClickEdit($event, val, item)" class="img-item-4 {{val.className}}"></a></p>
              </div>
            </li>
          </ul>
        </template>
        <template id="template-delegate-position-aside">
          <div class="delegate-position-aside">
            <div class="delegate-position-side-btns">
              <h2 class="delegate-position-mail-list">邮件列表</h2>
            </div>
            <div class="side-img-1"><a href="{{img1.href}}"><img v-attr="src:img1.imgSrc"/></a></div>
            <div class="side-img-2">
              <div v-repeat="item in items" class="side-img-item">
                <div class="side-img-item-img"><a href="#"><img v-attr="src:item.imgSrc"/></a></div>
                <p class="side-img-item-title"><a href="{{item.href}}">{{item.title}}</a></p>
                <p class="side-img-item-content"><a href="{{item.href}}">{{item.content}}</a></p>
              </div>
            </div>
          </div>
        </template>
        <template id="template-delegate-position-pagination">
          <div v-show="active" class="pagination">
            <ul class="clearfix">
              <li><a href="#" v-on="click: onClick($event, cur - 1)">上一页</a></li>
              <li v-repeat="i in len" v-class="active: cur === i" v-show="i &lt;= start + remaining &amp;&amp; i &gt; start - 1"><a href="#" v-on="click: onClick($event, i)">{{i + 1}}</a></li>
              <li class="remaining"><span v-show="start + remaining &lt; len - 1">...</span></li>
              <li class="next"><a href="#" v-on="click: onClick($event, cur + 1)">下一页</a></li>
            </ul>
          </div>
        </template>
        <div v-show="active" class="delegate-position">
          <main>
            <delegate-position-title></delegate-position-title>
            <delegate-position-content></delegate-position-content>
            <delegate-position-pagination></delegate-position-pagination>
          </main>
          <aside>
            <delegate-position-aside></delegate-position-aside>
          </aside>
        </div>
      </div>
    </div>
  </div>
</body>