artical.my-position-desc-preview(v-show="item.desc.active")
  .caret-left
  ul
    li
      h2 职位信息
      p
        i 职位名称:
        em 投资部经理
      p
        i 发布时间:
        em 7月28日15:57
      p
        i 工作地点:
        em 上海
      p
        i 学历要求:
        em 本科
      p
        i 汇报对象:
        em 总经理
      p
        i 招聘人数:
        em 1人
      p
        i 所属行业:
        em 房地产/投资开发/投资
      p
        i 年龄要求:
        em 30-45人
    li.my-position-desc-pd
      h2 职位描述
      .my-position-desc-pd-c
        div
          p
            i 职位需求:
            em 投资部经理
          p
            i 汇报对象:
            em 总经理
          p
            i 下属人数:
            em 3名
          p
            i 岗位描述:
          ol
            li
              p 参与制定具体的发展目标，根据公司发展战略，把握投资方向。
            li
              p 参与制定具体的发展目标，根据公司发展战略，把握投资方向。
            li
              p 参与制定具体的发展目标，根据公司发展战略，把握投资方向。
            li
              p 参与制定具体的发展目标，根据公司发展战略，把握投资方向。
          p
            i 工作地址:
            em 上海北京东路科技京城
      .my-position-desc-pd-scrollbar
        div(v-on="mousedown: scrollbarMouseDown($event)")
    li
      h2 薪酬福利
      p
        i 职位年薪:
        em 60-80W/年
      p
        i 薪资构成:
        em 30万12个月发，剩下30万年底发
