.tab-content-item
  #delegate-position
    .row-main
      include item-delegate-position
      .info-list(v-cloak)
        delegated-title
        delegated-position-items(
          wait-for="data-loaded",
          v-repeat="items[curIndex]",
        )
      include ./pagination
    .row-side(v-cloak)
      .side-img-1
        a(href="{{img1.href}}")
          img(v-attr="src:img1.imgSrc")
      .side-img-2
        .side-img-item(v-repeat="item in items")
          .side-img-item-img
            a(href="#")
              img(v-attr="src:item.imgSrc")
          p.side-img-item-title
            a(href="{{item.href}}") {{item.title}}
          p.side-img-item-content
            a(href="{{item.href}}") {{item.content}}
