<!DOCTYPE html>
html(lang="en")
head
  title index
  block metas
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1"
    )
  link(rel="stylesheet", href="../../../stylesheets/fa/css/font-awesome.min.css")
  block stylesheets
  block script
body
  #page
    block part
