mixin home-info-titles()
  .clearfix
    .info-col-t
    .info-col-a
      h2 职位
    .info-col-b
      h2 推荐中人才
    .info-col-c
      h2 匹配人才
    .info-col-d
      h2 更新时间
    .info-col-e

if data
  +home-info-titles()
