mixin info-crumb(postionData)
  p
    a.info-all-positions(href="#") 所有职位
    i.img.img-arrow-right
    a.info-current-city(href="#")
      span #{postionData.city}
      i.img.img-delete
    i.img.img-arrow-right
    a.info-sum-positions(href="#")
      |共
      span #{postionData.sum}
      |个职位

if data
  +info-crumb(data.content.crumb.postionData)
