mixin make-pagination(start, times)
  if !start || start < 1
    - start = 1;
  if !times || times < 1
    - times = 1;
  - var end = start + times - 1;
  - var i = 1;
  if times >= 5
    - times = 5;
  #pagination
    p
      if times <= 1 || start <= 1
        a.pagination-btn-prev.pagination-no-use(href="#") |<
        a.pagination-btn-prev.pagination-no-use(href="#") 上一页
      else
        a.pagination-btn-prev |<
        a.pagination-btn-prev 上一页

      a.pagination-num.pagination-active(href="#") #{start}
      if times > 1
        while i < times
          a.pagination-num(href="#") #{start + i}
          - i++
      span.pagination-ellipsis ...
      a.pagination-btn-next(href="#") 下一页
      a.pagination-btn-next(href="#") >|
      span.pagination-empty
      span.pagination-jump-to 跳转到
      input.pagination-custom-num(type="text", value="")
      span.pagination-jump-to 页
      a.pagination-btn-enter(href="#") 确定
      span.pagination-hidden-sum #{end}

if data
  +make-pagination(data.content.pagination.start, data.content.pagination.times)