mixin side()
  .tab-v
    ul.tab-v-nav
      li
        a.img.img-side.img-home(href="#")
      li
        a.img.img-side.img-member(href="#")
      li
        a.img.img-side.img-briefcase(href="#")
      li
        a.img.img-side.img-handon(href="#")
      li
        a.img.img-side.img-books(href="#")

if data
  +side()