// common header
include ./header
// screen-cover + position-edit
.screen-cover.hidden
include ./position-edit
// nav
include ./nav
// content list
#content
  .container
    include ./delegate-position/list
// common footer
include ./copyright
