header(v-class="hidden:!active")
  .container
    include ./header/header-logo
    header-logo
    include ./header/header-interactive
    header-interactive
    include ./header/header-tab
    header-tab
