// common header
include ./header
// screen-cover + position-edit
.screen-cover.hidden
include ./position-edit
// my-position nav
include ./nav
// my-position content list
#content
  .container
    include ./my-position/list
// common footer
include ./copyright

