extends ../jade/_base
append stylesheets
  link(rel="stylesheet", href="./index.css")
append script
  script(type="text/javascript", src="../js/libs/require.js", data-main='../js/talent-libs.js')
append part
  include ./talent-libs/template-talent-libs-aside
  include ./talent-libs/template-talent-libs-pagination-0
  include ./talent-libs/template-talent-libs-pagination-1
  include ./talent-libs/template-talent-libs-tab-content-item-0
  include ./talent-libs/template-talent-libs-tab-content-item-1
  include ./talent-libs/template-talent-libs-tab-title
  include ./talent-libs/template-talent-libs-title-0
  include ./talent-libs/template-talent-libs-title-1
  include ../jade/header
  include ./talent-libs/content
  include ../jade/copyright
