<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>index</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--link(rel="stylesheet", href="../../../stylesheets/fa/css/font-awesome.min.css")-->
  <link rel="stylesheet" href="../../../../stylesheets/fa/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../../_base/index.css"/>
  <link rel="stylesheet" href="./index.css"/>
  <script type="text/javascript" src="../../../require.js" data-main="./load.js"></script>
</head>
<body>
  <div id="page">
    <main>
      <div style="width:1150px;" class="container">
        <div class="tab-content-item">
          <div id="my-position">
            <div class="row-main">
              <template id="template-talent-recommending">
                <li class="info-talent-person">
                  <p class="talent-desc"><a href="#" class="talen-name">{{name}}</a><i v-if="isNew" class="img img-info-new"></i></p>
                  <p class="talent-level"><i v-repeat="level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - level" class="img img-talent img-talent-level"></i></p>
                </li>
              </template>
              <template id="template-talent-matched">
                <li class="info-talent-person">
                  <p class="talent-desc"><a href="#" class="talen-name">{{name}}</a><i v-if="isNew" class="img img-info-new"></i></p>
                  <p class="talent-level"><i v-repeat="level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - level" class="img img-talent img-talent-level"></i></p>
                </li>
              </template>
              <template id="template-my-position-content-title">
                <div id="my-position-content-title" class="clearfix">
                  <div class="info-col-t"></div>
                  <div class="info-col-a">
                    <h2>{{title.position}}</h2>
                  </div>
                  <div class="info-col-b">
                    <h2>{{title.recommending}}</h2>
                  </div>
                  <div class="info-col-c">
                    <h2>{{title.matched}}</h2>
                  </div>
                  <div class="info-col-d">
                    <h2>{{title.update}}</h2>
                  </div>
                  <div class="info-col-e"></div>
                </div>
              </template>
              <template id="template-my-position-items">
                <div class="position-info-item clearfix">
                  <div class="info-col-t">
                    <input type="checkbox"/>
                  </div>
                  <div class="info-col-a">
                    <div class="info-desc clearfix">
                      <h2 class="info-position">{{desc.position}} {{desc.name}}</h2>
                      <h3 class="info-company">{{desc.company}}</h3>
                    </div>
                  </div>
                  <div class="info-col-b">
                    <div class="info-talent-recommending clearfix info-talent-list-container">
                      <ul class="info-talent-list">
                        <li v-repeat="val in recommending" v-show="val.active" v-transition="expand" stagger="100" class="info-talent-person">
                          <p class="talent-desc"><a href="#" class="talen-name">{{val.name}}</a><i v-if="val.isNew" class="img img-info-new"></i></p>
                          <p class="talent-level"><i v-repeat="val.level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - val.level" class="img img-talent img-talent-level"></i></p>
                        </li>
                      </ul><a href="#" v-on="click:onClickRecommendingBtn($event, this, $index)" class="talent-btn fa fa-chevron-down"></a>
                    </div>
                  </div>
                  <div class="info-col-c">
                    <div class="info-talent-matched clearfix info-talent-list-container">
                      <ul class="info-talent-list">
                        <talent-matched v-repeat="matched"></talent-matched>
                      </ul>
                    </div>
                  </div>
                  <div class="info-col-d">
                    <div class="info-talent-update clearfix">
                      <h5 class="ymd">{{update.ymd}}</h5>
                      <h5 class="hms">{{update.hms}}</h5>
                    </div>
                  </div>
                  <div class="info-col-e">
                    <p><a href="#" class="img-item-4 img-item-record"></a><a href="#" class="img-item-4 img-item-note"></a><a href="#" class="img-item-4 img-item-heart"></a><a href="#" class="img-item-4 img-item-trash"></a></p>
                  </div>
                </div>
              </template>
              <div v-cloak="v-cloak" class="info-list">
                <my-position-title></my-position-title>
                <my-position-items wait-for="data-loaded" v-repeat="items[curIndex]"></my-position-items>
              </div>
              <div v-show="active" class="pagination">
                <div class="pagination-prev"><a href="#" v-on="click: onClick($event, cur - 1)">Prev</a></div>
                <p><a href="#" v-on="click: onClick($event, 0)" class="start">Start</a><a href="#" v-repeat="i in len" v-show="i &lt;= start + remaining &amp;&amp; i &gt; start - 1" v-class="active: cur === i" v-on="click: onClick($event, i)">{{i + 1}}</a><span v-show="start + remaining &lt; len - 1">...</span><a href="#" v-on="click: onClick($event, len - 1)" class="last">Last</a></p>
                <div class="pagination-next"><a href="#" v-on="click: onClick($event, cur + 1)">Next</a><a href="#" v-on="click: onClick($event, cur + 1)"><img src="../../../../images/pagination-next.jpg" width="16" height="20" class="fr"/></a></div>
              </div>
            </div>
            <div v-cloak="v-cloak" class="row-side">
              <div class="side-img-1"><a href="{{img1.href}}"><img v-attr="src:img1.imgSrc"/></a></div>
              <div class="side-img-2">
                <div v-repeat="item in items" class="side-img-item">
                  <div class="side-img-item-img"><a href="#"><img v-attr="src:item.imgSrc"/></a></div>
                  <p class="side-img-item-title"><a href="{{item.href}}">{{item.title}}</a></p>
                  <p class="side-img-item-content"><a href="{{item.href}}">{{item.content}}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content-item active">
          <div id="delegate-position">
            <div class="row-main">
              <template id="template-delegated-title">
                <div id="delegated-title" class="clearfix">
                  <div class="info-col-t"></div>
                  <div class="info-col-a">
                    <h2>{{title.position}}</h2>
                  </div>
                  <div class="info-col-b">
                    <h2>{{title.customManager}}</h2>
                  </div>
                  <div class="info-col-c">
                    <h2>{{title.recommending}}</h2>
                  </div>
                  <div class="info-col-d">
                    <h2>{{title.readyRecommending}}</h2>
                  </div>
                </div>
              </template>
              <template id="template-delegated-position-items">
                <div class="position-info-item clearfix">
                  <div class="info-col-t">
                    <input type="checkbox"/>
                  </div>
                  <div class="info-col-a">
                    <div class="info-desc clearfix">
                      <h2 class="info-position">{{desc.position}}</h2>
                      <h3 class="info-company">{{desc.company}}</h3>
                    </div>
                  </div>
                  <div class="info-col-b">
                    <div class="delegated-custom-manager">
                      <h2>{{customManager.name}}</h2>
                    </div>
                  </div>
                  <div class="info-col-c">
                    <div class="delegated-recommending info-talent-recommending clearfix info-talent-list-container">
                      <ul class="info-talent-list">
                        <li v-repeat="val in recommending" v-show="val.active" v-transition="expand" stagger="100" class="info-talent-person">
                          <p class="talent-desc"><a href="#" class="talen-name">{{val.name}}</a><i v-if="val.isNew" class="img img-info-new"></i></p>
                          <p class="talent-level"><i v-repeat="val.level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - val.level" class="img img-talent img-talent-level"></i></p>
                        </li>
                      </ul><a href="#" v-on="click:onClickRecommendingBtn($event, this, $index)" class="talent-btn">更多</a>
                    </div>
                  </div>
                  <div class="info-col-d">
                    <div class="delegated-ready-recommending info-talent-recommending clearfix info-talent-list-container">
                      <ul class="info-talent-list">
                        <li v-repeat="val in readyRecommending" v-show="val.active" class="info-talent-person">
                          <p class="talent-desc"><a href="#" class="talen-name">{{val.name}}</a><i v-if="val.isNew" class="img img-info-new"></i></p>
                          <p class="talent-level"><i v-repeat="val.level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - val.level" class="img img-talent img-talent-level"></i></p>
                        </li>
                      </ul><a href="#" class="mail-cv">投递简历<i class="fa fa-heart-o"></i></a>
                    </div>
                  </div>
                </div>
              </template>
              <div v-cloak="v-cloak" class="info-list">
                <delegated-title></delegated-title>
                <delegated-position-items wait-for="data-loaded" v-repeat="items[curIndex]"></delegated-position-items>
              </div>
              <div v-show="active" class="pagination">
                <div class="pagination-prev"><a href="#" v-on="click: onClick($event, cur - 1)">Prev</a></div>
                <p><a href="#" v-on="click: onClick($event, 0)" class="start">Start</a><a href="#" v-repeat="i in len" v-show="i &lt;= start + remaining &amp;&amp; i &gt; start - 1" v-class="active: cur === i" v-on="click: onClick($event, i)">{{i + 1}}</a><span v-show="start + remaining &lt; len - 1">...</span><a href="#" v-on="click: onClick($event, len - 1)" class="last">Last</a></p>
                <div class="pagination-next"><a href="#" v-on="click: onClick($event, cur + 1)">Next</a><a href="#" v-on="click: onClick($event, cur + 1)"><img src="../../../../images/pagination-next.jpg" width="16" height="20" class="fr"/></a></div>
              </div>
            </div>
            <div v-cloak="v-cloak" class="row-side">
              <div class="side-img-1"><a href="{{img1.href}}"><img v-attr="src:img1.imgSrc"/></a></div>
              <div class="side-img-2">
                <div v-repeat="item in items" class="side-img-item">
                  <div class="side-img-item-img"><a href="#"><img v-attr="src:item.imgSrc"/></a></div>
                  <p class="side-img-item-title"><a href="{{item.href}}">{{item.title}}</a></p>
                  <p class="side-img-item-content"><a href="{{item.href}}">{{item.content}}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>