.position-detail
  .container
    main
      .pd-main-item.pd-position-desc
        .pd-main-border
        .pd-main-title.clearfix
          h2 营销总监-中信地产(北京)
          p
            i.fa.fa-download
            i 已关闭
          div
            a(href="#") 编辑职位
        .pd-main-content
          p
            i 客户经理:&nbsp;
            i 孙还还&nbsp;
            i.fa.fa-qq
          p
            i 薪酬:
            i &nbsp;7
            i -
            i 10
            i &nbsp;K/月
            i &nbsp;(W/年)
