<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <!-- http://youpinsh.cn/v2/index.php?s=/Home/position/getpositionlist -->
  <form id="form-user">
    <input type="text" v-model="username"> 用户名 <br>
    <input type="text" v-model="password"> 密码 <br>
    <input type="button" value="提交" @click="onClick">
    <h2 v-show="welcome">欢迎{{username}}, 回来</h2>
  </form>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->

  <script type="text/javascript" src="../../js/libs/requirejs-2.1.16.min.js" data-main="../../js/apps/ajax-user-form.js"></script>
</body>
</html>