<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>index</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="work result on 2015-11-22"/>
  <meta name="author" content="Peter"/>
  <link rel="stylesheet" href="stylesheets/work.css"/>
  <script type="text/javascript" src="js/requirejs-2.1.16.min.js" data-main="js/index.js"></script>
</head>
<body>
  <div id="page">
    <div id="header">
      <div class="container">
        <div id="site-logo" class="fl"><a href="{{logo.href}}"><img src="images/site-logo.jpg" width="214" height="60"/></a></div>
        <div id="site-header-menu" class="fr">
          <ul class="site-header-link-menu">
            <li v-repeat="item in imgs"><a href="{{item.href}}" class="img img-header-menu {{item.className}}"><i v-if="item.isNew" class="img img-info-new"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div id="publish-delegate">
          <ul class="tab-h">
            <li v-on="click: publish"><a href="#"><img src="images/nav-publish.jpg" width="85" height="34"/></a></li>
            <li v-on="click: delegate"><a href="#"><img src="images/nav-delegate.jpg" width="85" height="34"/></a></li>
          </ul>
        </div>
        <div id="site-tab" class="tab">
          <ul id="site-tab-title" class="tab-title">
            <li v-repeat="val in tabTitles" v-class="tab-title-last: $index == tabTitles.length - 1, active: $index == activeIndex"><a href="val.href">{{val.title}}</a></li>
          </ul>
          <div class="container">
            <div class="tab-content">
              <div id="position-nav-main" class="my-position-nav">
                <ul id="position-tab-titles">
                  <li v-repeat="item in list">
                    <div v-on="click: onTitleClick($event, item, $index)" class="tab-title"><i class="{{item.tabTitle.imgClassName}}"></i><span>{{item.tabTitle.title}}</span><i v-class="item.active ? 'caret-down' : 'caret-up' " class="caret"></i></div>
                    <div v-show="item.active" class="tab-content pn-tab-content">
                      <div v-if="item.tabContent.className === 'job-state'" class="tab-divider"></div>
                      <div v-show="item.active" v-if="item.tabContent.className !== 'job-state'" class="postions-tab-search city-search">
                        <input type="text" debounce="500" v-model="item.inputs"/><i class="img img-magnify"></i>
                      </div>
                      <div v-if="item.tabContent.className === 'job-state'" v-class="item.tabContent.className" class="tab-1">
                        <h3 v-repeat="one in item.tabContent.items">{{one.value}}</h3>
                      </div>
                      <div v-if="item.tabContent.className === 'cities'" class="tab-1 {{item.tabContent.className}}">
                        <div v-repeat="one in item.tabContent.items | filterBy item.inputs in 'name'" class="city-item">
                          <h3 v-on="click: onClickIt(one)" class="city-item-title">{{one.name}}</h3>
                          <div v-show="one.active">
                            <h3 v-repeat="sub in one.sub" v-on="click: onClickIt(sub)" class="city-item-sub">{{sub}}</h3>
                          </div>
                        </div>
                      </div>
                      <div v-if="item.tabContent.className === 'customer-manager'" class="tab-1 {{item.tabContent.className}}">
                        <h3 v-repeat="one in item.tabContent.items | filterBy item.inputs in 'name'" v-on="click: onClickIt(one)">{{one.name}}</h3>
                      </div>
                      <div v-if="item.tabContent.className === 'customer'" class="tab-1 {{item.tabContent.className}}">
                        <h3 v-repeat="one in item.tabContent.items | filterBy item.inputs in 'name'" v-on="click: onClickIt(one)">{{one.name}}</h3>
                      </div>
                      <div v-if="item.tabContent.className === 'industry-function'" class="tab-1 {{item.tabContent.className}}">
                        <div v-repeat="one in item.tabContent.items | filterBy item.inputs in 'name'" class="city-i city-item">
                          <h3 v-on="click: onClickIt(one)" class="city-item-title">{{one.name}}</h3>
                          <div v-repeat="two in one.sub" v-show="one.active &amp;&amp; one.sub" class="city-ii city-item">
                            <h3 v-on="click: onClickIt(two)" class="city-item-sub">{{two.name}}</h3>
                            <div v-show="two.active" v-if="two.sub" class="city-iii city-item">
                              <h3 v-repeat="three in two.sub" v-on="click: onClickIt(three)" class="city-item-sub">{{three.name}}</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div id="position-search">
                  <div class="tab-title">
                    <input type="text" v-on="focus: positionSearchFocus, blur: positionSearchBlur" v-model="positionSearchValue"/><i class="img img-magnify"></i><span class="position-search-placeholder">{{ positionSearchHolder }}</span>
                  </div>
                  <div class="tab-content"></div>
                </div>
              </div>
              <div class="row-main">
                <div class="my-position-content">
                  <div id="my-position-content-title">
                    <div class="container">
                      <div class="info-col-t"></div>
                      <div class="info-col-a">
                        <h2>{{title.position}}</h2>
                      </div>
                      <div class="info-col-b">
                        <h2>{{title.recommending}}</h2>
                      </div>
                      <div class="info-col-c">
                        <h2>{{title.matched}}</h2>
                      </div>
                      <div class="info-col-d">
                        <h2>{{title.update}}</h2>
                      </div>
                      <div class="info-col-e"></div>
                    </div>
                  </div>
                  <template id="template-talent-recommending">
                    <li class="info-talent-person">
                      <p class="talent-desc"><a href="#" class="talen-name">{{name}}</a><i v-if="isNew" class="img img-info-new"></i></p>
                      <p class="talent-level"><i v-repeat="level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - level" class="img img-talent img-talent-level"></i></p>
                    </li>
                  </template>
                  <template id="template-talent-matched">
                    <li class="info-talent-person">
                      <p class="talent-desc"><a href="#" class="talen-name">{{name}}</a><i v-if="isNew" class="img img-info-new"></i></p>
                      <p class="talent-level"><i v-repeat="level" class="img img-talent img-talent-level-active"></i><i v-repeat="5 - level" class="img img-talent img-talent-level"></i></p>
                    </li>
                  </template>
                  <template id="template-position-item">
                    <div class="my-position-info-item clearfix">
                      <div class="info-col-t">
                        <input type="checkbox"/>
                      </div>
                      <div class="info-col-a">
                        <div class="info-desc clearfix">
                          <h2 class="info-position">{{desc.position}} {{desc.name}}</h2>
                          <h3 class="info-company">{{desc.company}}</h3><a href="#" class="talent-btn"><img src="images/talent-btn.jpg" width="16" height="16"/></a>
                        </div>
                      </div>
                      <div class="info-col-b">
                        <div class="info-talent-recommending clearfix">
                          <ul class="info-talent-list">
                            <talent-recommending v-repeat="recommending"></talent-recommending>
                          </ul><a href="#" class="talent-btn"><img src="images/talent-btn.jpg" width="16" height="16"/></a>
                        </div>
                      </div>
                      <div class="info-col-c">
                        <div class="info-talent-matched clearfix">
                          <ul class="info-talent-list">
                            <talent-matched v-repeat="matched"></talent-matched>
                          </ul>
                        </div>
                      </div>
                      <div class="info-col-d">
                        <div class="info-talent-update clearfix">
                          <h5 class="ymd">{{update.ymd}}</h5>
                          <h5 class="hms">{{update.hms}}</h5>
                        </div>
                      </div>
                      <div class="info-col-e">
                        <p><a href="#" class="img-item-4 img-item-record"></a><a href="#" class="img-item-4 img-item-note"></a><a href="#" class="img-item-4 img-item-heart"></a><a href="#" class="img-item-4 img-item-trash"></a></p>
                      </div>
                    </div>
                  </template>
                  <div id="my-position-info-list">
                    <div class="container">
                      <position-item wait-for="data-loaded" v-repeat="items"></position-item>
                    </div>
                  </div>
                  <div id="pagination">
                    <p><a href="#" v-on="click: onClickStart(e, $index)">{{start}}</a><a href="#" v-show="nextAll &gt; 0" v-repeat="nextAll" v-on="click: onClickRandom(e, $index)">{{start + $index + 1}}</a><span v-if="start + nextAll &lt; sum">...</span><a href="#" v-on="click: onClickLast" class="last">Last</a></p>
                    <div class="pagination-next"><a href="#" v-on="click: onClickNext">Next</a><a href="#" v-on="click: onClickNext" class="pagination-next-img"><img src="images/pagination-next.jpg" width="16" height="20" class="fr"/></a></div>
                  </div>
                </div>
              </div>
              <div id="content-side-imgs" class="row-side">
                <div class="side-img-1"><a href="{{img1.href}}"><img v-attr="src:img1.imgSrc"/></a></div>
                <div class="side-img-2">
                  <div v-repeat="item in items" class="side-img-item">
                    <div class="side-img-item-img"><a href="#"><img v-attr="src:item.imgSrc"/></a></div>
                    <p class="side-img-item-title"><a href="{{item.href}}">{{item.title}}</a></p>
                    <p class="side-img-item-content"><a href="{{item.href}}">{{item.content}}</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="foot">
      <div class="container">
        <div class="row-main">
          <div class="foot-input-title">
          </div>
          <div class="foot-input-content">
          </div><a href="#"><img src="images/btn-send-email.jpg" width="116" height="42"/></a>
        </div>
        <div class="row-side">
          <ul id="foot-side-list" class="foot-item-list">
            <li v-repeat="item in items" class="clearfix {{item.className}}">
              <div class="foot-item-img"><a href="{{item.href}}" v-on="click:clicked($event, item, $index)"><img v-attr="src:item.imgSrc" width="42" height="42"/></a></div>
              <div class="foot-item-content">
                <p v-if="item.contents[0]">{{item.contents[0]}}</p>
                <p v-if="item.contents[1]">{{item.contents[1]}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="copyright">
      <p><a href="#">Copyright 2009 cjobcn.com inc. all rights reserved.</a></p>
      <p><a href="#">沪ICP备05110979号</a></p>
    </div>
  </div>
</body>