/* base */
* { margin: 0px; padding: 0px; }
ol,
ul { list-style: none; }
a { text-decoration: none; color: #999; }
a:hover { cursor: pointer; }
img { border: none; vertical-align: top; }
table { border-collapse: collapse; }
textarea { resize: none; overflow: auto; outline: none; }
form,
select { margin: 0; }
input { outline: medium; }
i { font-style: normal; }
body { color: #333; font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif; }
/* ---------------------------------------------------------------- */

/* common */
.fl { float: left; }
.fr { float: right; }
.clearfix,
.container { zoom: 1; }
.clearfix:after,
.container:after { content: " ";  display: block; clear: both; }

/* container: width 1350 * 0.76 */
/*.container { width: 75%;  margin: 0 auto; }*/
/* ---------------------------------------------------------------- */

/* .img */
.img { display: inline-block; background: url("../images/icons.png") no-repeat; }

/* @start @.img-side-a */
.img-side { width: 60px; height: 60px; }

.img-home { background-position: -32px -132px; }
.img-member { background-position: -116px -132px; }
.img-briefcase { background-position: -204px -132px; }
.img-handon { background-position: -290px -132px; }
.img-books { background-position: -376px -132px; }

.img-home-ii { background-position: -32px -210px; }
.img-member-ii { background-position: -116px -210px; }
.img-briefcase-ii { background-position: -204px -210px; }
.img-handon-ii { background-position: -290px -210px; }
.img-books-ii { background-position: -376px -210px; }
/* @end @.img-side-a */

/* @start @.img-header-menu */
.img-header-menu { width : 32px; height: 32px; }

.img-hm-person { background-position: -38px -298px; }
.img-hm-info { background-position: -90px -298px; }
.img-hm-mail { background-position: -142px -298px; }
.img-hm-switch  { background-position: -194px -298px; }

.img-hm-person-ii { background-position: -38px -348px; }
.img-hm-info-ii { background-position: -90px -348px; }
.img-hm-mail-ii { background-position: -142px -348px; }
.img-hm-switch-ii  { background-position: -194px -348px; }
/* @end @.img-header-menu */

/* @start @ img-selections */
.img-selction {  width : 16px; height: 16px; }
.img-job-state { background-position: -252px -353px; }
.img-industry-function { background-position: -284px -353px; }
.img-cities { background-position: -317px -353px; }
.img-customer  { background-position: -346px -353px; }
.img-customer-manager  { background-position: -378px -353px; }
/* @end @ img-selections */

.img-logo { width: 298px; height: 50px; background-position: -19px -17px; }
.img-magnify { width: 20px; height: 20px; background-position: -368px -302px; }
.img-weather { width: 26px; height: 26px; background-position: -252px -298px; }

.img-talent-level-active,
.img-talent { width: 10px; height: 4px; }
.img-talent-level-active { background-position: -293px -318px; }
.img-talent-level { background-position: -305px -318px; }

.img-info-new { width: 16px; height: 8px; background-position: -335px -304px; }
.img-publish-position { width: 132px; height: 54px; background-position: -326px -16px; }
.img-delegate-position { width: 133px; height: 48px; background-position: -326px -76px; }

.img-delete { width: 8px; height: 8px; background-position: -418px -307px; }
.img-arrow-right { width: 4px; height: 10px; background-position: -403px -305px; }

/* icon-item-4 */
.img-item-4 { width: 18px; height: 18px; display: inline-block; background: url("../images/icon-item-4.png") no-repeat;  }
.img-item-record { background-position: 0px 0px; }
.img-item-note { background-position: -26px 0px; }
.img-item-heart { background-position: -49px 0px; }
.img-item-trash { background-position: -73px 0px; }
/* ---------------------------------------------------------------- */

/* #header */
#header { height: 50px; background-color: #234994; }
.header-container { width: 1044px; margin: 0 auto; }
#site-logo {}
/* #site-header-menu */
#site-header-menu { padding-right: 20px; }
.site-header-link-menu { height: 32px; padding: 9px 0px 0px 0px; }
.site-header-link-menu > li { position: relative; width: 32px; float: left; padding: 0px 10px;  }
.site-header-link-menu .img-info-new { position: absolute; right: 10px; }
.img-hm-person:hover { background-position: -38px -348px; }
.img-hm-info:hover { background-position: -90px -348px; }
.img-hm-mail:hover { background-position: -142px -348px; }
.img-hm-switch:hover  { background-position: -194px -348px; }
/* ---------------------------------------------------------------- */

/* #content */
#content { width: 100%; }

/* #side */
#side { width: 154px; height: 1000px; background-color: #ffffff; }
#side .tab-v { padding-left: 52px; padding-right: 4px; }
#side .tab-v-nav li { padding: 20px; }
.img-home:hover { background-position: -32px -210px; }
.img-member:hover { background-position: -116px -210px; }
.img-briefcase:hover { background-position: -204px -210px; }
.img-handon:hover { background-position: -290px -210px; }
.img-books:hover { background-position: -376px -210px; }
/* ---------------------------------------------------------------- */

/* #main */
#main { width: 1026px; height: 1000px; background-color: #fff; border-left: 1px solid #969696; border-right: 1px solid #969696; }

#home { }
/* #selection-menu */
#selection-menu { height: 36px; background-color: #f4f6fa; position: relative; border-bottom: 1px solid #4b4d52; }
#selection-menu .active { display: block; }

#selection-menu-search { width: 187px; position: absolute; right: 20px; top: 5px; }
#selection-menu-search input { width: 187px; height: 22px; background-color: #fff; }
#selection-menu-search .img-magnify { position: absolute; right: 7px; top: 2px; }

.selection-menu-list {  }

.selection-nav {
	height: 34px;
	padding: 0px 20px;
	line-height: 34px;
	text-align: center;
	position: relative;
	float: left;
	display: block;
	font-size: 12px;
	border: 1px solid #f4f6fa;
	border-top: 2px solid #f4f6fa;
	border-bottom: none;
}

.selection-mask { display: none; position: absolute; bottom: -2px; left: 0px; width: 100%; height: 4px; background-color: #fff; }

.selection-nav-list > .active {
	border: 1px solid #4b4d52;
	border-top: 2px solid #4b4d52;
	background-color: #fff;
}

/*
#selection-menu .selction-nav-job-state:hover {
	border-left: 1px solid #f4f6fa;
}
*/

/*
..........
.selction-nav-job-state { width: 118px; padding-left: 22px;  }
.selction-nav-industry-function { width: 106px; padding-left: 19px; }
.selction-nav-cities { width: 82px; padding-left: 16px; }
.selction-nav-customer { width: 82px; padding-left: 17px; }
.selction-nav-customer-manager { width: 108px; padding-left: 22px; }
*/

.selection-nav span { color: #888889; }
.img-selction { position: relative; }
.img-job-state { left: -3px; top: 4px; }
.img-industry-function { left: 0px; top: 4px; }
.img-cities { left: -2px; top: 3px; }
.img-customer { left: -3px; top: 3px; }
.img-customer-manager { left: 2px; top: 4px; }

.selection-content-list { width: 100%; }
.selection-content {
	z-index: 999;
	display: none;
	position: absolute;
	top: 37px;
	background-color: #fff;
	width: 1006px;
	border-bottom: 1px solid #4b4d52;
	padding-left: 20px;
}

.selection-content-job-states { padding: 34px 0px 30px 18px; }
.selection-job-btns { height: 28px; }
.selection-job-btns li { float: left; padding-right: 30px; line-height: 28px; }
.selection-job-btns a { display: block; text-align: center; height: 26px; line-height: 26px; padding: 0px 20px; border: 1px solid #606060; border-radius: 4px; }
.selection-job-btns a:hover { color: #fff; border: 1px solid #a5d1ff; background-color: #409eff; }

.selection-content-industries-function { padding-top: 24px; }
.selection-industry { padding-bottom: 30px; width: 100%; }
.selection-industry-name { height: 42px; line-height: 42px; font-size: 14px; color: #666666; font-weight: bold; }
.selection-industry-list li { float: left; padding-right: 20px; }
.selection-industry-item-name { color: #4ca4ff; font-size: 12px; height: 24px; line-height: 24px; font-weight: bold;  }
.selection-industry-item-content { width: 230px; line-height: 18px; border-top: 1px solid #5c5c5c; }
.selection-industry-item-content a { color: #7d7d7d; display: inline-block; padding-right: 12px; }

.selection-content-cities { padding-top: 20px; padding-bottom: 75px; }
.selection-content-cities a { display: inline-block; }
.selection-city-i { width: 980px; height: 36px; line-height: 36px; border-bottom: 2px solid #404040; font-size: 14px; font-weight: bold; }
.selection-city-i a { padding-right: 20px; color: #7b7b7b; }
.selection-city-ii { height: 40px; line-height: 40px; }
.selection-city-ii a { padding-right: 10px; color: #909090; }
.selection-city-iii { height: 24px; line-height: 24px; }
.selection-city-iii a { padding-right: 6px; color: #bdbdbd; }

#selection-menu .selection-city-i .active,
#selection-menu .selection-city-ii .active,
#selection-menu .selection-city-iii .active { display: inline-block; color: #3699ff; }

.selection-content-customers { padding-top: 38px; padding-bottom: 160px; }
.selection-content-customers a { display: block; }
.selection-content-customers > ul { width: 980px; }
.selection-content-customers > ul > li { float: left; width: 224px; padding-right: 20px; padding-bottom: 30px; }
.selection-customer-name { height: 16px; line-height: 16px; font-size: 16px; padding-bottom: 36px; color: #666666; font-weight: bold; }
.selection-customer-content { border-top: 2px solid #5c5c5c; color: #5c5c5c; }

.selection-content-managers { padding-top: 18px; padding-bottom: 30px; }
.selection-content-managers a { display: block; height: 32px; line-height: 32px; text-align: center; }
.selection-content-managers > ul > li { float: left; width: 140px; }
/*
.selection-content { z-index: 999; display: none; width: 270px; padding: 20px; position: absolute; left : 0px; top: 41px; border: 1px solid #E9E9E9; border-top: none; background-color: #FFFFFF; }
.selection-city { width: 68px; height: 18px; margin: 0px 10px; padding: 5px 0px; line-height: 16px; text-align: center; color: #333333; display: inline-block; background-color: #fff; border: 1px solid #E9E9E9; }
.selection-city:hover { color: #f00; font-weight: bold; background-color: #E9E9E9; border: 1px solid #E9E9E9; }
*/

/* ---------------------------------------------------------------- */

#home-info {  padding: 0px 11px 0px 14px; border-left: 1px solid #dddddd; border-right: 1px solid #EDECEA;  }
.info-col-t { float: left; width: 48px; }
.info-col-a { float: left; width: 248px; }
.info-col-b { float: left; width: 296px; }
.info-col-c { float: left; width: 208px; }
.info-col-d { float: left; width: 80px; }
.info-col-e { float: left; width: 118px; }

#home-info-header { height: 26px; }
#info-crumb {  }
#info-crumb p { height: 26px; line-height: 26px; color: #898989; }
.info-all-positions { margin-right: 2px; }
.info-current-city { margin-right: 2px; display: inline-block; padding: 2px 3px; font-size: 12px; line-height: 14px; height: 14px; border: 1px solid #827F7A; }
.info-current-city:hover { background-color: red; color: #fff; border: 1px solid red; }
.info-sum-positions span { color: #de8ca2; }
#info-crumb .img-arrow-right { padding-right: 8px; }
#info-crumb .img-delete { margin-left: 2px; }

#home-info-title { height: 48px; }
#home-info-title h2 { height: 48px; line-height: 48px; font-size: 16px; color: #000; }
/* as .info-col-t just a placeholder, it has width, but empty, needs height to take its place */
#home-info-title .info-col-t { height: 48px; }
#home-info-title .info-col-a h2 { padding-left: 70px; }
#home-info-title .info-col-b h2 { padding-left: 87px; }
#home-info-title .info-col-c h2 { padding-left: 52px; }
#home-info-title .info-col-d h2 { padding-left: 0px; }

#home-info-content { }
.info-item { background-color: #f4f6f9; height: 70px; margin-bottom: 6px;  }
.info-item .talent-btn { width: 13px; height: 13px; border-radius: 3px; background-position: -401px -304px;  display: block; position: absolute; right: 10px; top: 10px; border: 1px solid #a6a6a7; }
.info-item .img-item-4 { padding-right: 5px; }
.info-item .info-col-e p { padding: 20px 0px 0px 20px; }

#home-info-content .info-col-t input { width: 12px; height: 12px; padding: 10px 0px 0px 16px; }
#home-info-content .info-col-t { width: 32px; padding: 10px 0px 0px 16px; }

.info-desc { padding-top: 5px; position: relative; }
.info-desc h2,
.info-desc h3 { font-size: 14px; height: 20px; line-height: 20px; }
.info-desc h2 { color: #333333; }
.info-desc h3 { color: #aeaeae; }

.info-talent-list { padding-top: 2px; }
.info-talent-list > li { float: left; height: 24px; padding-top: 6px; width: 60px; padding-right: 20px; }
.info-talent-person {  }
.info-talent-person p { height: 12px; line-height: 12px; }
.talent-desc .img-info-new { position: relative; left: 7px; }
.talent-name { color: #7b7b7b; }
.talent-level .img-talent { padding-right: 2px; }

.info-talent-recommending .info-talent-list { width: 240px; }
.info-talent-ready-download .info-talent-list,
.info-talent-matched .info-talent-list { width: 160px; }

.info-talent-update { padding-top: 16px; }
.info-talent-update h5 { color: #7e7f80 }

.info-talent-matched,
.info-talent-recommending { padding-left: 15px; }
.info-talent-recommending { position: relative; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* #user */
#user { width: 166px; height: 1000px; border-left: 1px solid #adadad; }

/* #user-base */
#user-base { padding-left: 28px; padding-top: 45px; position: relative; }
.user-hello { height: 36px; line-height: 36px; }
.user-hello h2 { font-size: 14px; color: #1e1e1e; }
#user-base p { height: 16px; line-height: 16px; font-size: 12px; color: #8a8a8a; }

.date-week, .date-year, .date-month, .date-day { padding-right: 1px; }
.weather-info { }
.weather-du { position : relative; top: -4px; display: inline-block; }
.weather-quality { position : relative; width: 90px; }
.weather-quality .weather-condition-image { position: absolute; right: -20px; bottom: 6px; }

/* #user-info */
#user-info { padding-left: 30px; padding-top: 50px; }
#user-info p { font-weight: bold; color: #646464; height: 16px; padding-bottom: 22px; font-size: 12px; }
#user-info p span { display: inline-block; width: 38px; text-align: right; padding-right: 7px; }
#user-info a { color: #8f8f8f; }
#user-info .user-info-num { position: relative; top: 2px; color: #41b3ef; font-size: 18px; }

/* #user-function */
#user-function { width: 134px; padding-left: 20px; padding-top: 150px; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* #pagination */
#pagination { padding: 10px 0px 0px 50px; }
#pagination p { height: 22px; line-height: 22px; }
#pagination a { display: inline-block; font-size: 12px; background-color: #F6F6F6; padding: 2px 10px; }
#pagination .pagination-no-use { color: #C5C5C5; }
.pagination-btn-prev,
.pagination-btn-next,
.pagination-btn-enter,
.pagination-num { color: #3D9CCC; }
#pagination .pagination-num { font-weight: bold; }
#pagination .pagination-active { background-color: #3D9CCC; color: #fff; }
.pagination-empty { width: 50px; }
.pagination-jump-to { color: #666666; }
.pagination-custom-num { width: 20px; height: 12px; padding: 6px 5px; color: #C3C3C5; text-align: center; border: 1px solid #EFEFEF;}
.pagination-ellipsis { color: #DBDEE8; }
#pagination a,
#pagination input,
#pagination span { margin-right: 5px; }
.pagination-btn-enter { font-weight: bold; }
.pagination-hidden-sum { display: none; }