.position-detail(v-cloak)
  .container
    main
      .pd-main-item.pd-position-desc
        .pd-main-border
        .pd-main-title.clearfix
          h2 {{info["positionName"]}}
          p
            i.fa.fa-download
            i {{status == 1 ? '已关闭' : '已关闭' }}
          div
            a(href="#") 编辑职位
        .pd-main-content
          p
            i 客户经理:&nbsp;
            i {{info["customManager"]}}&nbsp;
            i.fa.fa-qq
          p
            i 薪酬:
            i &nbsp;{{info["salaryMin"]}}
            i -
            i {{info["salaryMax"]}}
            i &nbsp;K/月
            i &nbsp;(W/年)
      .pd-main-item.pd-position-info
        .pd-main-benifit
          p
            a(href="#") 五险一金
            a(href="#") 期权激励
        .pd-main-border
        .pd-main-title.clearfix
          h2 职位信息
      .pd-position-info-content
        .pd-position-info-scrollbar
          div
        .pd-position-info-sport
          .pd-main-item.pd-words
            .pd-main-content.clearfix
              .pd-main-col-1
                p
                  i 发布时间:&nbsp;
                  i {{info['positionName']}}
                p
                  i 学历要求:&nbsp;
                  i {{info['educationDemands']}}
                p
                  i 招聘人数:&nbsp;
                  i {{info["recruitNumber"]}}
                p
                  i 性别要求:&nbsp;
                  i {{info.sex}}
              .pd-main-col-2
                p
                  i 工作地点:&nbsp;
                  i {{info["workPlace"]}}
                p
                  i 汇报对象:&nbsp;
                  i {{info["reportTo"]}}
                p
                  i 年龄要求:&nbsp;
                  i {{info["ageMin"]}}
                  i &nbsp;-&nbsp;
                  i {{info["ageMax"]}}
          .pd-main-item.pd-custom-needs
            .pd-main-title
              h2 客户要求
            .pd-main-content
              ol
                li(v-repeat="val in info['customDemands']")
                  p {{val}}
          .pd-main-item.pd-position-details
            .pd-main-title
              h2 职位详情&nbsp;(岗位职责+对候选人要求)
            .pd-main-content
              ol
                li(v-repeat="val in info['positionDetail']")
                  p {{val}}
          .pd-main-item.pd-note
            .pd-main-title
              h2 备注:
            .pd-main-content
              h4 {{info.note}}
      .pd-main-item.pd-received-cvs
        .pd-main-border
        .pd-main-title
          h2 已收到简历
        .pd-main-content
          ul
            li.clearfix(v-repeat="val in info['receivedResumes']")
              p.pd-rcv-name
                a(href="#") {{val['name']}}
              p.pd-rcv-consult
                span 顾问:&nbsp;
                span {{val['consultName']}}&nbsp;
                i.fa.fa-qq
              p.pd-rcv-date
                em {{val['time']}}
              p.pd-rcv-note
                i {{val['note']}}
    aside
      .pd-side-item.pd-delegate-company
        .pd-side-border
        .pd-side-title
          h2 委托公司
        .pd-side-content
          ul.clearfix
            li(v-repeat="val in info['delegatedCompanies']")
              span {{val.value}}
              i.fa.fa-remove
      .pd-side-item.pd-quick-preview
        .pd-side-border
        .pd-side-title
          h2 快速预览
        .pd-side-content
          p
            a(href="#") 基础信息
          p
            a(href="#") 职位详情
          p
            a(href="#") 收到的简历
      .pd-side-item.pd-seem-position
        .pd-side-border
        .pd-side-title
          h2 快速预览
        .pd-side-content
          p.pd-seem-position-desc
            |{{info['companyDesc']}}
          p.pd-seem-position-view.clearfix
            a(href="#") 浏览该职位
          p.pd-seem-position-view-more
            a(href="#") 查看更多
