extends ../../components/_base/index
append stylesheets
  link(rel="stylesheet", href="./test.css")
  style.
    body { min-height: 1000px; }
append script
  script(type="text/javascript", src="../../require.js", data-main="./test.js")
append part
  include ../../components/header/index
  include ./index
  include ../../components/copyright/index
