// common header
include ../../components/header/index

// screen-cover + position-edit
.screen-cover.hidden
include ../../components/position-edit/index

// my-position nav
include ../../components/nav/index

// my-position content list
include ../../components/content/index
  include ../../components/my-position/index

// common footer
include ../../components/copyright/index
