/* #content */
#content {
  width: 100%;
}

#content > .container {
  width: 1200px;
}

#content main,
#content aside {
  float: left;
}

#content main {
  padding-right: 20px;
}

/* ------------------------------------------------------------------------ */
/* floats */
.content-main-col-1,
.content-main-col-2,
.content-main-col-3,
.content-main-col-4,
.content-main-col-5,
.content-main-col-6,
.content-main-col-7 {
  float: left;
}

/* ------------------------------------------------------------------------ */
