/* copyright */
$copyright-height: 55px;
#copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  height: $copyright-height;
  padding-top: 20px;
  background-color: #2a3038;
}
#copyright p { text-align: center; height: 16px; line-height: 16px; }
#copyright a { color: #e3e3e4; }
/* ---------------------------------------------------------------- */

