@charset "UTF-8";
/* base */
* { margin: 0px; padding: 0px; }
ol,
ul { list-style: none; }
a { text-decoration: none; color: #999; }
a:hover { cursor: pointer; }
img { border: none; vertical-align: top; }
table { border-collapse: collapse; }
textarea { resize: none; overflow: auto; outline: none; }
form,
select { margin: 0; }
input { outline: medium; }
i { font-style: normal; }
body { color: #333; font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif; }
/* ---------------------------------------------------------------- */

/* common */
.fl { float: left; }
.fr { float: right; }
.clearfix,
.container { zoom: 1; }
.clearfix:after,
.container:after { content: " ";  display: block; clear: both; }

/* container: width 1350 * 0.76 */
/*.container { width: 75%;  margin: 0 auto; }*/
/* ---------------------------------------------------------------- */

/* .img */
.img { display: inline-block; background: url("../images/icons.png") no-repeat; }

/* @start @.img-side-a */
.img-side { width: 60px; height: 60px; }

.img-home { background-position: -32px -132px; }
.img-member { background-position: -116px -132px; }
.img-briefcase { background-position: -204px -132px; }
.img-handon { background-position: -290px -132px; }
.img-books { background-position: -376px -132px; }

.img-home-ii { background-position: -32px -210px; }
.img-member-ii { background-position: -116px -210px; }
.img-briefcase-ii { background-position: -204px -210px; }
.img-handon-ii { background-position: -290px -210px; }
.img-books-ii { background-position: -376px -210px; }
/* @end @.img-side-a */

/* @start @.img-header-menu */
.img-header-menu { width : 32px; height: 32px; }

.img-hm-person { background-position: -38px -298px; }
.img-hm-info { background-position: -90px -298px; }
.img-hm-mail { background-position: -142px -298px; }
.img-hm-switch  { background-position: -194px -298px; }

.img-hm-person-ii { background-position: -38px -348px; }
.img-hm-info-ii { background-position: -90px -348px; }
.img-hm-mail-ii { background-position: -142px -348px; }
.img-hm-switch-ii  { background-position: -194px -348px; }
/* @end @.img-header-menu */

/* @start @ img-selections */
.img-selction {  width : 16px; height: 16px; }
.img-job-state { background-position: -252px -353px; }
.img-industry-function { background-position: -284px -353px; }
.img-cities { background-position: -317px -353px; }
.img-customer  { background-position: -346px -353px; }
.img-customer-manager  { background-position: -378px -353px; }
/* @end @ img-selections */

.img-logo { width: 298px; height: 50px; background-position: -19px -17px; }
.img-magnify { width: 20px; height: 20px; background-position: -368px -302px; }
.img-weather { width: 26px; height: 26px; background-position: -252px -298px; }

.img-talent-level-active,
.img-talent { width: 10px; height: 4px; }
.img-talent-level-active { background-position: -293px -318px; }
.img-talent-level { background-position: -305px -318px; }

.img-info-new { width: 16px; height: 8px; background-position: -335px -304px; }
.img-publish-position { width: 132px; height: 54px; background-position: -326px -16px; }
.img-delegate-position { width: 133px; height: 48px; background-position: -326px -76px; }

.img-delete { width: 8px; height: 8px; background-position: -418px -307px; }
.img-arrow-right { width: 4px; height: 10px; background-position: -403px -305px; }

/* icon-item-4 */
.img-item-4 { width: 18px; height: 18px; display: inline-block; background: url("../images/icon-item-4.png") no-repeat;  }
.img-item-record { background-position: 0px 0px; }
.img-item-note { background-position: -26px 0px; }
.img-item-heart { background-position: -49px 0px; }
.img-item-trash { background-position: -73px 0px; }
/* ---------------------------------------------------------------- */

/* #header */
#header { height: 50px; background-color: #234994; }
.header-container { width: 1044px; margin: 0 auto; }
#site-logo {}
/* #site-header-menu */
#site-header-menu { padding-right: 20px; }
.site-header-link-menu { height: 32px; padding: 9px 0px 0px 0px; }
.site-header-link-menu > li { position: relative; width: 32px; float: left; padding: 0px 10px;  }
.site-header-link-menu .img-info-new { position: absolute; right: 10px; }
.img-hm-person:hover { background-position: -38px -348px; }
.img-hm-info:hover { background-position: -90px -348px; }
.img-hm-mail:hover { background-position: -142px -348px; }
.img-hm-switch:hover  { background-position: -194px -348px; }
/* ---------------------------------------------------------------- */

/* #content */
#content { width: 100%; }

/* ---------------------------------------------------------------- */

/* #main */
#main { width: 1026px; height: 1000px; background-color: #fff; border-left: 1px solid #969696; border-right: 1px solid #969696; }

#home { }
/* #selection-menu */
#selection-menu { height: 36px; background-color: #f4f6fa; position: relative; border-bottom: 1px solid #4b4d52; }
#selection-menu .active { display: block; }

#selection-menu-search { width: 187px; position: absolute; right: 20px; top: 5px; }
#selection-menu-search input { width: 187px; height: 22px; background-color: #fff; }
#selection-menu-search .img-magnify { position: absolute; right: 7px; top: 2px; }

.img-selction { position: relative; }
.img-job-state { left: -3px; top: 4px; }
.img-industry-function { left: 0px; top: 4px; }
.img-cities { left: -2px; top: 3px; }
.img-customer { left: -3px; top: 3px; }
.img-customer-manager { left: 2px; top: 4px; }

/* ---------------------------------------------------------------- */

#home-info {  padding: 0px 11px 0px 14px; border-left: 1px solid #dddddd; border-right: 1px solid #EDECEA;  }
.info-col-t { float: left; width: 48px; }
.info-col-a { float: left; width: 248px; }
.info-col-b { float: left; width: 296px; }
.info-col-c { float: left; width: 208px; }
.info-col-d { float: left; width: 80px; }
.info-col-e { float: left; width: 118px; }

#home-info-header { height: 26px; }

#home-info-title { height: 48px; }
#home-info-title h2 { height: 48px; line-height: 48px; font-size: 16px; color: #000; }
/* as .info-col-t just a placeholder, it has width, but empty, needs height to take its place */
#home-info-title .info-col-t { height: 48px; }
#home-info-title .info-col-a h2 { padding-left: 70px; }
#home-info-title .info-col-b h2 { padding-left: 87px; }
#home-info-title .info-col-c h2 { padding-left: 52px; }
#home-info-title .info-col-d h2 { padding-left: 0px; }

#home-info-content { }
.info-item { background-color: #f4f6f9; height: 70px; margin-bottom: 6px;  }
.info-item .talent-btn { width: 13px; height: 13px; border-radius: 3px; background-position: -401px -304px;  display: block; position: absolute; right: 10px; top: 10px; border: 1px solid #a6a6a7; }
.info-item .img-item-4 { padding-right: 5px; }
.info-item .info-col-e p { padding: 20px 0px 0px 20px; }

#home-info-content .info-col-t input { width: 12px; height: 12px; padding: 10px 0px 0px 16px; }
#home-info-content .info-col-t { width: 32px; padding: 10px 0px 0px 16px; }

.info-desc { padding-top: 5px; position: relative; }
.info-desc h2,
.info-desc h3 { font-size: 14px; height: 20px; line-height: 20px; }
.info-desc h2 { color: #333333; }
.info-desc h3 { color: #aeaeae; }

.info-talent-list { padding-top: 2px; }
.info-talent-list > li { float: left; height: 24px; padding-top: 6px; width: 60px; padding-right: 20px; }
.info-talent-person {  }
.info-talent-person p { height: 12px; line-height: 12px; }
.talent-desc .img-info-new { position: relative; left: 7px; }
.talent-name { color: #7b7b7b; }
.talent-level .img-talent { padding-right: 2px; }

.info-talent-recommending .info-talent-list { width: 240px; }
.info-talent-ready-download .info-talent-list,
.info-talent-matched .info-talent-list { width: 160px; }

.info-talent-update { padding-top: 16px; }
.info-talent-update h5 { color: #7e7f80 }

.info-talent-matched,
.info-talent-recommending { padding-left: 15px; }
.info-talent-recommending { position: relative; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
