#foot
  .container
    .row-main
      .foot-input-title
        //- input
      .foot-input-content
        //- textarea
    .row-side
      ul.foot-item-list
        li.clearfix.foot-side-locate
          .foot-item-img
            a(href="#")
              img(src="images/side-foot-icon-1.jpg", width="42", height="42")
          .foot-item-content
            p 上海市徐汇区中山西路2025号
            p 永升大厦1312-1314室
        li.clearfix.foot-side-mail
          .foot-item-img
            a(href="#")
              img(src="images/side-foot-icon-2.jpg", width="42", height="42")
          .foot-item-content
            p hr@cjobcn.com
        li.clearfix.foot-side-tel
          .foot-item-img
            a(href="#")
              img(src="images/side-foot-icon-3.jpg", width="42", height="42")
          .foot-item-content
            p 021-34691601
            p 021-34691601-8016
        li.clearfix.foot-side-global
          .foot-item-img
            a(href="#")
              img(src="images/side-foot-icon-4.jpg", width="42", height="42")
          .foot-item-content
            p www.cjobcn.com

