/* base */
* {
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #999; }

a:hover {
  cursor: pointer; }

img {
  border: none;
  vertical-align: top; }

table {
  border-collapse: collapse; }

textarea {
  resize: none;
  overflow: auto;
  outline: none;
  border: none; }

form,
select {
  margin: 0; }

input {
  outline: medium;
  border: none; }

i {
  font-style: normal; }

/*Ping Hei Bold*/
body {
  color: #333;
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif; }

/* ---------------------------------------------------------------- */
/* common */
.fl {
  float: left; }

.fr {
  float: right; }

.clearfix,
.container {
  zoom: 1; }

.clearfix:after,
.container:after {
  content: " ";
  display: block;
  clear: both; }

.container {
  margin-left: auto;
  margin-right: auto; }

/*.caret { display: ; width: 8px; height: 8px; background: url("../images/caret.jpg") no-repeat; }*/
.caret {
  width: 0;
  height: 0;
  position: absolute; }

.caret-down {
  border-top: 4px solid #999999;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; }

.caret-up {
  border-bottom: 4px solid #999999;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; }

/* ------- render considerations ---------- */
/* hide the prev build result */
[v-cloak],
.hidden {
  display: none !important; }

/* ---------------------------------------------------------------- */
/* container: width 1350 * 0.76 */
/*.container { width: 75%;  margin: 0 auto; }*/
/* ---------------------------------------------------------------- */
/* .img */
.img {
  display: inline-block;
  background: url("../../../images/icons.png") no-repeat; }

/* @start @.img-side-a */
.img-side {
  width: 60px;
  height: 60px; }

.img-home {
  background-position: -32px -132px; }

.img-member {
  background-position: -116px -132px; }

.img-briefcase {
  background-position: -204px -132px; }

.img-handon {
  background-position: -290px -132px; }

.img-books {
  background-position: -376px -132px; }

.img-home-ii {
  background-position: -32px -210px; }

.img-member-ii {
  background-position: -116px -210px; }

.img-briefcase-ii {
  background-position: -204px -210px; }

.img-handon-ii {
  background-position: -290px -210px; }

.img-books-ii {
  background-position: -376px -210px; }

/* @end @.img-side-a */
/* @start @.img-header-menu */
.img-header-menu {
  width: 32px;
  height: 32px; }

.img-hm-person {
  background-position: -38px -298px; }

.img-hm-info {
  background-position: -90px -298px; }

.img-hm-mail {
  background-position: -142px -298px; }

.img-hm-switch {
  background-position: -194px -298px; }

.img-hm-person-ii {
  background-position: -38px -348px; }

.img-hm-info-ii {
  background-position: -90px -348px; }

.img-hm-mail-ii {
  background-position: -142px -348px; }

.img-hm-switch-ii {
  background-position: -194px -348px; }

/* @end @.img-header-menu */
/* @start @ img-selections */
.img-selction {
  width: 16px;
  height: 16px; }

.img-job-state {
  background-position: -252px -353px; }

.img-industry-function {
  background-position: -284px -353px; }

.img-cities {
  background-position: -317px -353px; }

.img-customer {
  background-position: -346px -353px; }

.img-customer-manager {
  background-position: -378px -353px; }

/* @end @ img-selections */
.img-logo {
  width: 298px;
  height: 50px;
  background-position: -19px -17px; }

.img-magnify {
  width: 20px;
  height: 20px;
  background-position: -368px -302px; }

.img-weather {
  width: 26px;
  height: 26px;
  background-position: -252px -298px; }

.img-talent-level-active,
.img-talent {
  width: 10px;
  height: 4px; }

.img-talent-level-active {
  background-position: -293px -318px; }

.img-talent-level {
  background-position: -305px -318px; }

.img-info-new {
  width: 16px;
  height: 8px;
  background-position: -335px -304px; }

.img-publish-position {
  width: 132px;
  height: 54px;
  background-position: -326px -16px; }

.img-delegate-position {
  width: 133px;
  height: 48px;
  background-position: -326px -76px; }

.img-delete {
  width: 8px;
  height: 8px;
  background-position: -418px -307px; }

.img-arrow-right {
  width: 4px;
  height: 10px;
  background-position: -403px -305px; }

/* @start @ img-item-4 */
.img-item-4 {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../../../images/icon-item-4.png") no-repeat; }

.img-item-record {
  background-position: 0px 0px; }

.img-item-note {
  background-position: -26px 0px; }

.img-item-heart {
  background-position: -49px 0px; }

.img-item-trash {
  background-position: -73px 0px; }

/* @end @ img-item-4 */
/* ---------------------------------------------------------------- */
/* #header */
#header {
  height: 60px;
  background-color: #131418; }

#header > .container {
  width: 84.5%; }

#site-logo {
  height: 60px; }

/* #site-header-menu */
#site-header-menu {
  padding-right: 0; }

.site-header-link-menu {
  height: 32px;
  padding: 15px 0 0 0; }

.site-header-link-menu > li {
  position: relative;
  width: 32px;
  float: left;
  padding-left: 20px; }

.site-header-link-menu .img-info-new {
  position: absolute;
  right: 0; }

.img-hm-person:hover {
  background-position: -38px -348px; }

.img-hm-info:hover {
  background-position: -90px -348px; }

.img-hm-mail:hover {
  background-position: -142px -348px; }

.img-hm-switch:hover {
  background-position: -194px -348px; }

/* ---------------------------------------------------------------- */
/* #batch-forward */
#batch-forward {
  float: right;
  padding-top: 16px; }

#batch-forward a {
  display: block;
  padding: 0px 5px;
  line-height: 34px;
  height: 34px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #0097FE;
  border-radius: 5px; }

#batch-forward a .fa {
  font-weight: 300;
  padding-right: 5px; }

/* ---------------------------------------------------------------- */
/* #site-tab-title */
#site-tab-title {
  padding-top: 25px;
  height: 20px;
  padding-bottom: 25px; }

#site-tab-title li {
  position: relative;
  height: 20px;
  line-height: 20px;
  float: left;
  padding-right: 15px;
  border-right: 2px solid #cccccc;
  margin-right: 15px; }

#site-tab-title li.active {
  color: #000; }

#site-tab-title li a {
  color: #707070;
  font-size: 14px;
  font-weight: bold; }

#site-tab-title .active a {
  color: #000; }

#site-tab-title .tab-title-last {
  border: none; }

/* ---------------------------------------------------------------- */
/* .my-position-nav */
#position-tab-titles {
  height: 34px; }

.my-position-nav {
  position: relative; }

#position-search,
.my-position-nav li {
  width: 171px;
  padding-left: 8px;
  margin-right: 10px;
  float: left;
  height: 30px;
  line-height: 30px;
  border: 2px solid #dfdfdf;
  position: relative; }

.my-position-nav li:hover {
  cursor: pointer; }

.my-position-nav li .tab-content {
  z-index: 2;
  position: absolute;
  left: -2px;
  top: 28px;
  height: 366px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #dfdfdf;
  border-top: none; }

.my-position-nav li .tab-content li {
  border: none;
  padding: 0px;
  margin: 0px; }

.pn-tab-content h3 {
  color: #5c5c5c; }

.pn-tab-content h3:hover {
  color: #fff;
  cursor: pointer;
  background-color: #026cb6; }

.job-state {
  padding-top: 20px; }

.job-state h3 {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding-left: 30px; }

.city-item-title {
  padding-left: 20px;
  font-weight: bold; }

.city-item-sub {
  padding-left: 40px !important;
  font-weight: normal; }

.tab-1 {
  overflow: auto;
  height: 336px; }

.postions-tab-search {
  position: relative; }

.postions-tab-search input {
  margin-left: 4px;
  width: 159px;
  padding: 5px;
  height: 14px;
  line-height: 14px;
  border: 1px solid #dfdfdf; }

.postions-tab-search .img-magnify {
  position: absolute;
  right: 8px;
  top: 5px; }

.tab-divider {
  height: 1px;
  width: 168px;
  margin-top: 4px;
  margin-left: 5px;
  background-color: #dfdfdf; }

.industry-function h3,
.cities h3,
.customer h3,
.customer-manager h3 {
  padding-left: 20px; }

.city-iii.city-item h3 {
  font-size: 12px;
  padding-left: 50px !important; }

#position-tab-titles h3 span {
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px; }

.my-position-nav .caret {
  right: 12px;
  top: 12px; }

.my-position-nav .tab-title span {
  color: #717171; }

#position-search {
  width: 181px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px; }

#position-search input {
  width: 171px;
  padding-left: 10px;
  height: 100%;
  line-height: 100%;
  border: 0px; }

#position-search .img-magnify {
  position: absolute;
  right: 7px;
  top: 5px; }

.position-search-placeholder {
  color: #717171;
  position: absolute;
  left: 10px;
  top: 0px; }

.img-selction {
  position: relative; }

.my-position-nav .img-selction {
  padding-right: 5px; }

.my-position-nav .img-job-state {
  left: -3px;
  top: 4px; }

.my-position-nav .img-industry-function {
  left: 0px;
  top: 4px; }

.my-position-nav .img-cities {
  left: -2px;
  top: 3px; }

.my-position-nav .img-customer {
  left: -3px;
  top: 3px; }

.my-position-nav .img-customer-manager {
  left: 2px;
  top: 4px; }

.my-position-content {
  padding-bottom: 40px; }

/* ---------------------------------------------------------------- */
/* #position-nav-result */
#position-nav-result {
  height: auto;
  border-bottom: 1px solid #E0E0E0; }

#position-nav-result ul {
  padding: 5px 0px; }

#position-nav-result li {
  float: left;
  height: 16px;
  line-height: 16px;
  padding: 5px;
  background-color: #EBEBEB;
  margin-right: 6px;
  margin-bottom: 5px; }

#position-nav-result li .fa {
  padding-left: 5px;
  color: #999EAA; }

#position-nav-result li .fa:hover {
  cursor: pointer; }

#position-nav-result li span {
  color: #333; }

#position-nav-result .reset {
  color: #999;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  border-radius: 5px; }

.show-result {
  height: 16px;
  line-height: 16px;
  border-bottom: 1px solid #E0E0E0;
  padding: 5px 0px; }

.show-result span {
  color: #000;
  display: inline-block;
  padding-right: 5px; }

/* ---------------------------------------------------------------------------------------- */
/* main */
main {
  width: 100%; }

.row-main {
  float: left;
  width: 915px; }

.row-side {
  float: left;
  width: 212px;
  padding-left: 23px;
  height: 200px; }

.tab-content-item {
  display: none; }

.tab-content-item.active {
  display: block; }

/* ---------------------------------------------------------------- */
/* .row-side */
.row-side .side-img-1 {
  padding-top: 20px; }

.row-side .side-img-2 {
  padding-top: 20px; }

.side-img-item {
  padding: 20px 0px; }

.side-img-item p {
  height: 24px;
  line-height: 24px;
  font-weight: bold; }

.side-img-item-img {
  padding-bottom: 4px; }

.side-img-item-title a {
  color: #5cacff; }

.side-img-item-content a {
  color: #a0a0a0; }

/* ---------------------------------------------------------------- */
/* .pagination */
.pagination {
  position: relative; }

.pagination p {
  text-align: center;
  height: 70px;
  line-height: 70px; }

.pagination a {
  color: #717171;
  display: inline-block;
  padding-right: 10px; }

.pagination .last {
  padding-left: 10px; }

.pagination .start {
  padding-right: 20px; }

.pagination-next {
  width: 70px;
  height: 60px;
  position: absolute;
  top: 25px;
  right: -20px; }

.pagination-next a {
  color: #000;
  display: block;
  padding-right: 0px;
  float: left; }

.pagination-prev {
  width: 70px;
  height: 60px;
  position: absolute;
  top: 25px;
  left: 0px; }

.pagination-prev a {
  color: #000;
  display: block;
  padding-right: 0px;
  float: left; }

.pagination-prev a:hover,
.pagination-next a:hover,
.pagination .active {
  font-weight: bold; }

/* ---------------------------------------------------------------------------------------- */
/* .expand-transition */
.expand-transition {
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  overflow: hidden;
  height: 24px;
  opacity: 1; }

.expand-enter,
.expand-leave {
  height: 0;
  opacity: 0; }

/* -------------------------- */
/* .my-position-item */
.info-col-t {
  float: left;
  width: 40px; }

.info-col-a {
  float: left;
  width: 286px; }

.info-col-b {
  float: left;
  width: 200px; }

.info-col-c {
  float: left;
  width: 190px; }

.info-col-d {
  float: left;
  width: 80px; }

.info-col-e {
  float: left;
  width: 110px; }

.info-talent-list-container {
  position: relative; }

/* --------------------------------------------------- */
/********* .info-list -> min-height: 1125px; *********/
.info-list {
  height: auto;
  min-height: 1125px; }

.info-list .info-col-t {
  height: 66px; }

.info-list .info-col-t input {
  width: 12px;
  height: 12px;
  margin: 10px 0px 0px 16px; }

/* ------------------------------------------------------------------------------------------------ */
/* .position-info-item */
.position-info-item {
  height: auto;
  padding-bottom: 4px;
  margin-bottom: 1px;
  border: 2px solid #d4d4d4; }

.position-info-item .img-item-4 {
  padding-right: 5px; }

.position-info-item .info-col-e p {
  padding: 20px 0px 0px 10px; }

/* --------------------------------------------------------------------- */
/* .info-desc */
.info-desc {
  padding-top: 5px;
  position: relative;
  width: 100%; }

.info-desc h2,
.info-desc h3 {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  width: 90%;
  overflow: hidden; }

.info-desc h2 {
  color: #333333; }

.info-desc h3 {
  color: #aeaeae; }

/* -------------------------- */
/* .info-talent-list */
.info-talent-list-container {
  position: relative;
  height: 60px;
  padding-top: 2px; }

.info-talent-list > li {
  float: left;
  background: #fff;
  padding-top: 6px;
  width: 60px;
  padding-right: 20px; }

/* -------------------------- */
/* .info-talent-person */
.info-talent-person p {
  height: 12px;
  line-height: 12px; }

.talent-desc .img-info-new {
  position: relative;
  left: 7px; }

.talent-name {
  color: #7b7b7b; }

.talent-level .img-talent {
  padding-right: 2px; }

/* -------------------------- */
/* .info-talent-recommending + .info-talent-ready-download */
.info-talent-recommending .info-talent-list {
  width: 160px; }

.info-talent-ready-download .info-talent-list,
.info-talent-matched .info-talent-list {
  width: 160px; }

/* -------------------------- */
/* .info-talent-update */
.info-talent-update {
  padding-top: 16px; }

.info-talent-update h5 {
  color: #7e7f80; }

.hms {
  padding-left: 18px; }

.ymd {
  padding-left: 10px; }

/* -------------------------- */
/* .info-talent-matched + .info-talent-recommending */
.info-talent-matched,
.info-talent-recommending {
  padding-left: 15px; }

.info-talent-recommending {
  position: relative; }

/* -------------------------- */
/* #my-position-content-title -> layout */
#my-position-title {
  height: 60px;
  padding-top: 10px;
  overflow: hidden; }

#my-position-title h2 {
  color: #5c5c5c;
  height: 48px;
  line-height: 48px;
  font-size: 16px; }

#my-position-title .info-col-t {
  height: 60px; }

#my-position-title .info-col-a h2 {
  padding-left: 68px; }

#my-position-title .info-col-b h2 {
  padding-left: 26px; }

#my-position-title .info-col-c h2 {
  padding-left: 35px; }

#my-position-title .info-col-d h2 {
  padding-left: 6px; }

#my-position-title .info-col-e {
  width: 10px; }

/* ------------------------------------------------------------------------------------------------ */
/* #delegated-title -> layout */
#delegated-title {
  height: 60px;
  padding-top: 10px;
  overflow: hidden; }

#delegated-title h2 {
  color: #5c5c5c;
  height: 48px;
  line-height: 48px;
  font-size: 16px; }

#delegated-title .info-col-t {
  height: 60px; }

#delegated-title .info-col-a h2 {
  padding-left: 75px; }

#delegated-title .info-col-b h2 {
  padding-left: 0px; }

#delegated-title .info-col-c h2 {
  padding-left: 35px; }

#delegated-title .info-col-d h2 {
  padding-left: 30px; }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* delegate-position -> layout */
#delegate-position .info-col-t {
  width: 40px;
  padding-right: 10px; }

#delegate-position .info-col-a {
  width: 226px; }

#delegate-position .info-col-b {
  width: 100px;
  padding-left: 20px; }

#delegate-position .info-col-c {
  width: 230px; }

#delegate-position .info-col-d {
  width: 240px; }

#delegate-position .talent-btn {
  display: block;
  font-weight: bold;
  color: #09A6F1;
  position: absolute;
  bottom: 5px;
  right: 25px; }

.mail-cv {
  display: block;
  font-weight: bold;
  color: #09A6F1;
  position: absolute;
  bottom: 15px;
  right: 0px; }

.mail-cv .fa-heart-o {
  padding-left: 10px;
  color: #565656; }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#my-position .fa {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  color: #D4D4D4;
  border: 2px solid #D4D4D4;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px; }

/* copyright */
#copyright {
  height: 55px;
  padding-top: 20px;
  background-color: #2a3038; }

#copyright p {
  text-align: center;
  height: 16px;
  line-height: 16px; }

#copyright a {
  color: #e3e3e4; }

/* ---------------------------------------------------------------- */
