#header.hidden
  .container
    #site-logo.fl
      a(href="{{logo.href}}")
        img(src="../../../images/site-logo.jpg", width="214", height="60")
    #site-header-menu.fr
      ul.site-header-link-menu
        li(v-repeat="item in imgs")
          a(class="img img-header-menu {{item.className}}", href="{{item.href}}")
            i.img.img-info-new(v-if="item.isNew")
