/* #header */
header {
  height: 60px;
  background-color: #2a2428;
}

header > .container {
  width: 84.5%;
}

/* ---------------------------------------------------------------- */
/* #header-logo */
#header-logo {
  float: left;
  height: 60px;
}

/* ---------------------------------------------------------------- */
/* #header-tab */
#header-tab {
  float: right;
  top: 10px;
  height: 46px;
  width: 473px;
  position: relative;
}

#header-tab li {
  height: 46px;
  line-height: 46px;
  position: absolute;
  top: 0;
  padding: 0 14px;
  min-width: 70px;
}

#header-tab a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

#header-tab .active-border {
  height: 4px;
  position: absolute;
  bottom: -4px;
  background-color: #708dd7;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/* ---------------------------------------------------------------- */
/* #header-interactive */
#header-interactive {
  float: right;
  height: 18px;
  padding-top: 40px;
  padding-left: 90px;
}

#header-interactive > li {
  float: left;
  height: 16px;
  line-height: 16px;
  padding-bottom: 2px;
  padding-left: 10px;
  position: relative;
}
#header-interactive > li .fa {
  font-size: 16px;
  font-weight: 100;
  color: #6d6c6d;
  padding-right: 5px;
}
#header-interactive > li .fa.active {
  cursor: pointer;
  color: #bcbabc;
}
#header-interactive > li ul {
  z-index: 2;
  padding-bottom: 3px;
  background-color: #2a2428;
  position: absolute;
  top: 18px;
}
#header-interactive > li ul li {
  padding: 3px 5px;
  text-align: center;
}
#header-interactive > li ul a {
  color: #6a6a6a;
}
#header-interactive > li ul a:hover {
  color: #e1e1e1;
}
#header-interactive > li.header-interactive-plus ul {
  width: 60px;
  left: -44px;
}
#header-interactive > li.header-interactive-user ul {
  width: 60px;
  left: 0;
}

/* ---------------------------------------------------------------- */
