<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>index</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../../../stylesheets/fa/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../_base/index.css"/>
  <link rel="stylesheet" href="./index.css"/>
  <script type="text/javascript" src="../../require.js" data-main="./load.js"></script>
</head>
<body>
  <div id="page">
    <header v-class="hidden:!active">
      <div class="container">
        <template id="template-header-logo">
          <div id="header-logo"><a href="{{href}}"><img src="../../../images/site-logo.png" width="300" height="60"/></a></div>
        </template>
        <header-logo></header-logo>
        <template id="template-header-interactive">
          <ul id="header-interactive">
            <li v-repeat="val in list" v-on="mouseenter: val.active = !val.active, mouseleave: val.active = !val.active" class="{{val.className}}"><i v-class="active: val.active" class="fa {{val.iconClassName}}"></i>
              <ul v-show="val.active">
                <li v-repeat="item in val.list"><a href="{{item.href}}">{{item.value}}</a></li>
              </ul>
            </li>
          </ul>
        </template>
        <header-interactive></header-interactive>
        <template id="template-header-tab">
          <div id="header-tab" v-on="mouseleave: activeIndex = currentIndex">
            <ul>
              <li v-repeat="val in tabTitles" v-on="click: onClick($event, val, $index), mouseenter: activeIndex = $index" v-style="left: val.left"><a href="{{val.href}}">{{val.title}}</a></li>
            </ul>
            <div v-style="left: tabTitles[activeIndex].left, width: tabTitles[activeIndex].width" class="active-border"></div>
          </div>
        </template>
        <header-tab></header-tab>
      </div>
    </header>
  </div>
</body>