/* .icon-nav */
.icon-nav {
  display: inline-block;
  background: url("../../../images/icons-12-7.png") no-repeat;
}
$icon-nav-width: 26px;
$icon-nav-height: 26px;
.icon-nav-cat {
  width: $icon-nav-width;
  height: $icon-nav-height;
}
$icon-nav-list: ("position-state", "industry-function", "custom", "custom-manager", "work-place", "salary", "search");
$i: 0;
@each $val in $icon-nav-list {
  .icon-nav-#{$val} {
    background-position: -1 * $i * $icon-nav-width 0;
  }
  $i: $i + 1;
}
$i: 0;
/* ------------------------------------------------------------------------ */

/* nav */
$nav-height: 38px;
$nav-border-width: 1px;
nav { height: $nav-height + $nav-border-width * 2; background-color: #e9e9e9; }
nav > .container { width: 84.5%; }
/* ------------------------------------------------------------------------ */

/* .nav-list */
$nav-li-1-width: 120px;
$nav-li-1-padding-left: 20px;
$nav-li-1-padding-right: 10px;
.nav-list {
  float: left;
  height: $nav-height;
  & > li {
    float: left;
    position: relative;
    cursor: pointer;

    width: $nav-li-1-width;
    padding-left: $nav-li-1-padding-left;
    padding-right: $nav-li-1-padding-right;

    height: $nav-height;
    line-height: $nav-height;

    border: 1px solid transparent;
    .icon-nav { position: relative; top: 8px; }
    span { display: inline-block; padding-left: 5px; }
    .icon-nav-arrow { position: relative; top: 15px; float: right; }
    &.active {
      background: #fff;
      border: 1px solid #b0b0b0;
      border-bottom: 1px solid transparent;
    }
  }
}
/* ------------------------------------------------------------------------ */

/* .nav-main-search */
$nav-main-search-width: 132px;
$nav-main-search-height: 14px;
.nav-main-search { float: right; padding-top: 5px; }
.nav-main-search input {
  width: $nav-main-search-width;
  height: $nav-main-search-height;
  line-height: $nav-main-search-height;
  font-size: $nav-main-search-height;
  padding: 8px 12px;
  background-color: #fff;
  color: #818181;
  float: left;
  margin-right: 10px;
}
.nav-main-search .icon-nav {
  float: left;
}
/* ------------------------------------------------------------------------ */

/* .nav-content */
.nav-content {
  position: absolute;
  left: -$nav-border-width;
  top: $nav-height + $nav-border-width * 2 - $nav-border-width;
  background-color: #fff;
  border: 1px solid #b0b0b0;
  border-top: 1px solid transparent;
}
.nav-content .position-state {
  width: $nav-li-1-width;
  padding-left: $nav-li-1-padding-left;
  padding-right: $nav-li-1-padding-right;
  text-align: center;
  a {
    color: #7c7c7c;
    display: block;
    height: 1em;
    line-height: 1em;
    padding-bottom: 1em * 5 / 6;
  }
  a.active {
    color: #0097FE;
    text-decoration: underline;
  }
}
.industry-function {}
.custom {}
.custom-manager {}
.work-place {}
.salary {}
/* ------------------------------------------------------------------------ */
