/* .icon-nav */
.icon-nav {
  display: inline-block;
  background: url("../../../images/icons-12-7.png") no-repeat;
}
$icon-nav-width: 26px;
$icon-nav-height: 26px;
.icon-nav-cat {
  width: $icon-nav-width;
  height: $icon-nav-height;
}
$icon-nav-list: ("position-state", "industry-function", "custom", "custom-manager", "work-place", "salary", "search");
$i: 0;
@each $val in $icon-nav-list {
  .icon-nav-#{$val} {
    background-position: -1 * $i * $icon-nav-width 0;
  }
  $i: $i + 1;
}
$i: 0;
/* ------------------------------------------------------------------------ */

/* nav */
$nav-height: 38px;
$nav-border-width: 1px;
nav { height: $nav-height + $nav-border-width * 2; }
nav > .container { width: 84.5%; background-color: #e9e9e9; }
/* ------------------------------------------------------------------------ */

/* .nav-main-search */
$nav-main-search-width: 132px;
$nav-main-search-height: 14px;
.nav-main-search { float: right; padding-top: 5px; }
.nav-main-search input {
  width: $nav-main-search-width;
  height: $nav-main-search-height;
  line-height: $nav-main-search-height;
  font-size: $nav-main-search-height;
  padding: 8px 12px;
  background-color: #fff;
  color: #818181;
  float: left;
  margin-right: 10px;
}
.nav-main-search .icon-nav {
  float: left;
  position: relative;
  left: -4px;
  top: 2px;
}
/* ------------------------------------------------------------------------ */

/* .nav-list */
$nav-li-1-width: 120px;
$nav-li-1-padding-left: 20px;
$nav-li-1-padding-right: 10px;
$nav-li-1-border-width: 1px;
$nav-li-1-box-width: $nav-li-1-width + 2 * $nav-li-1-border-width + $nav-li-1-padding-left + $nav-li-1-padding-right;
$nav-content-zindex: 2;
$li-sub-box-padding-top: 10px;

/* .nav-li-1-border */
.nav-li-1-border {
  border: $nav-li-1-border-width solid #b0b0b0;
}
/* ------------------------------------------------------------------------ */

/* .nav-mask */
.nav-mask {
  position: absolute;
  bottom: -1 * $nav-li-1-border-width;
  left: 0;
  height: $nav-li-1-border-width;
  width: $nav-li-1-box-width + (-2 * $nav-li-1-border-width);
  background-color: #fff;
  display: none;
}
/* ------------------------------------------------------------------------ */

/* .nav-list */
.nav-list {
  float: left;
  height: $nav-height;
  & > li {
    float: left;
    position: relative;
    top: -1 * $nav-li-1-border-width;
    cursor: pointer;

    width: $nav-li-1-width;
    @extend .nav-li-1-border;
    border-bottom: none;
    border-color: transparent;

    padding-left: $nav-li-1-padding-left;
    padding-right: $nav-li-1-padding-right;

    height: $nav-height;
    line-height: $nav-height;

    .icon-nav { position: relative; top: 8px; }
    span { display: inline-block; padding-left: 5px; }
    .icon-nav-arrow { position: relative; top: 15px; float: right; }
    &.active {
      background: #fff;
      @extend .nav-li-1-border;
      border-bottom: none;
      .nav-mask {
        display: block;
        z-index: $nav-content-zindex + 1;
      }
    }
  }
}
/* ------------------------------------------------------------------------ */

/* .nav-content */
.nav-content {
  position: relative;
  height: auto;
  left: -1 * $nav-li-1-padding-left;
  z-index: $nav-content-zindex;
  a.active {
    color: #889fdd;
    font-weight: bold;
    text-decoration: underline;
  }
}
.nav-content-item {
  background-color: #fff;
}
/* ------------------------------------------------------------------------ */

/* .nav-li-1-sub-box-set */
.nav-li-1-sub-box-set {
  position: absolute;
  left: -1 * $nav-li-1-border-width;
  top: -2 * $nav-li-1-border-width;
  @extend .nav-li-1-border;
  border-top: none;
  width: $nav-li-1-width + $nav-li-1-padding-left + $nav-li-1-padding-right;
  text-align: center;
}
/* ------------------------------------------------------------------------ */

/* .position-state */
.position-state {
  @extend .nav-li-1-sub-box-set;
  padding-top: $li-sub-box-padding-top;
  a {
    color: #7c7c7c;
    font-size: 1.2em;
    display: block;
    height: 1em;
    line-height: 1em;
    padding-bottom: 10px;
  }
}
/* ------------------------------------------------------------------------ */

/* .industry-function */
$industry-level-1-width: 75px;
$industry-level-2-width: 70px;
$industry-level-3-width: 274px;
$industry-level-3-padding-right: 10px;
$industry-function-width: $industry-level-1-width + 2 * ($industry-level-2-width + $industry-level-3-width + $industry-level-3-padding-right);

.industry-function {
  width: $industry-function-width;
  height: auto;
  padding: 1em 2em;
  @extend .nav-li-1-border;
  position: absolute;
  left: -1 * $nav-li-1-border-width + -1 * $nav-li-1-box-width;
  top: -2 * $nav-li-1-border-width;
}

.industry-level-1 {
  > a {
    display: block;
    width: $industry-level-1-width;
    // height: 500px;
    // height is counted by js
    float: left;
    font-size: 1.2em;
    text-decoration: underline;
    color: #838183;
  }
}

.industry-level-2 {
  float: left;
  > a {
    width: $industry-level-2-width;
    display: block;
    float: left;
    color: #838183;
  }
}

.industry-level-3 {
  float: left;
  width: $industry-level-3-width;
  padding-right: $industry-level-3-padding-right;
  > a {
    color: #bababa;
    font-size: 1em;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    padding: 0 6px;
    border-right: 1px solid #dfdfdf;
    &.last {
      border: none;
    }
  }
}
/* ------------------------------------------------------------------------ */

/* .nav-common-set */
.nav-common-set {
  @extend .nav-li-1-sub-box-set;
  overflow-y: auto;
  padding-top: $li-sub-box-padding-top;
  p { line-height: 2em; padding: 0 3px; }
  a { color: #878787; }
  // scrollbar-face-color: #000000;
}
/* ------------------------------------------------------------------------ */

/* .custom */
$custom-height: 250px;
.custom {
  @extend .nav-common-set;
  height: $custom-height;
}
/* ------------------------------------------------------------------------ */

/* .custom-manager */
$custom-manager-height: 115px;
.custom-manager {
  @extend .nav-common-set;
  height: $custom-manager-height;
}
/* ------------------------------------------------------------------------ */

/* .city */
$city-height: 115px;
.city {
  @extend .nav-common-set;
  height: $city-height;
}
/* ------------------------------------------------------------------------ */

/* .salary */
$salary-height: 70px;
.salary {
  @extend .nav-common-set;
  overflow: hidden;
  height: $salary-height;
  .salary-count {
    height: 1.2em;
    line-height: 1.2em;
    padding: 10px 0;
    border-bottom: 1px dashed #4b4d52;
    input {
      width: 3em;
      height: 1.2em;
      line-height: 1.2em;
      @extend .nav-li-1-border;
    }
  }
  .salary-btn {
    padding: 4px 4px 4px 0;
    button {
      display: inline-block;
      float: right;
      background-color: #693434;
      color: #fff;
      //border:none;
    }
  }
}
/* ------------------------------------------------------------------------ */

/* .nav-result */
.nav-result {
  overflow: hidden;
  clear: both;
  padding: 10px 0px;
  background-color: #fff;
  z-index: $nav-content-zindex - 1;
  li {
    float: left;
    height: 2.2em;
    line-height: 2.2em;
    background-color: #4574ba;
    margin-right: 1em;
    padding: 0px 4px;
  }
  .reset a, span { color: #fff; }
  .fa { padding-left: 5px; font-weight: 300; color: #97b2d9; }
}
/* ------------------------------------------------------------------------ */
