@import "../_base/vars.scss";
@import "../_base/mixin.scss";

/* #batch-forward */
#batch-forward {
  @include batch-forward-position();
}
#batch-forward a {
  display: block;
  padding: 0px 5px;
  line-height: 34px;
  height: 34px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #0097FE;
  border-radius: 5px;
}
#batch-forward a .fa { font-weight: 300; padding-right: 5px; }
/* ---------------------------------------------------------------- */

/* #site-tab-title */
#site-tab-title { padding-top:  25px; height: 20px; padding-bottom: 25px; }
#site-tab-title li { position: relative; height: 20px; line-height: 20px; float: left; padding-right: 15px; border-right: 2px solid #cccccc; margin-right: 15px; }
#site-tab-title li.active { color : #000; }
#site-tab-title li a { color: #707070; font-size: 14px; font-weight: bold; }
#site-tab-title .active a { color: #000; }
#site-tab-title .tab-title-last { border: none; }
/* ---------------------------------------------------------------- */

/* .my-position-nav */
#position-tab-titles { height: 34px; }
.my-position-nav { position: relative; }
#position-search,
.my-position-nav li { width: 171px; padding-left: 8px; margin-right: 10px; float: left; height: 30px; line-height: 30px; border: 2px solid #dfdfdf; position: relative; }
.my-position-nav li:hover { cursor:pointer; }
.my-position-nav li .tab-content {
  z-index: 2;
  position: absolute;
  left : -2px;
  top: 28px;
  height: 366px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #dfdfdf;
  border-top: none;
}
.my-position-nav li .tab-content li { border: none; padding: 0px; margin: 0px; }

.pn-tab-content h3 { color: #5c5c5c; }
.pn-tab-content h3:hover { color: #fff; cursor: pointer; background-color: #026cb6; }

.job-state { padding-top: 20px; }
.job-state h3 { font-size: 14px; height: 32px; line-height: 32px; padding-left: 30px; }

.city-item {}
.city-item-title { padding-left: 20px; font-weight: bold; }
.city-item-sub { padding-left: 40px !important; font-weight: normal; }

.tab-1 { overflow: auto; height: 336px; }
.postions-tab-search { position: relative;  }
.postions-tab-search input { margin-left: 4px; width: 159px; padding: 5px; height: 14px; line-height: 14px; border : 1px solid #dfdfdf; }
.postions-tab-search .img-magnify { position: absolute; right: 8px; top: 5px; }
.city-search {}

.tab-divider { height: 1px; width: 168px; margin-top: 4px; margin-left: 5px; background-color: #dfdfdf; }

.industry-function h3,
.cities h3,
.customer h3,
.customer-manager h3 { padding-left: 20px; }
.city-iii.city-item h3 { font-size: 12px; padding-left: 50px !important; }
#position-tab-titles h3 span {
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
}

.industry-function {}

.my-position-nav .caret { right : 12px; top: 12px; }
.my-position-nav .tab-title span { color: #717171; }

#position-search { width: 181px; position: absolute; right: 0px; top: 0px; margin: 0px; padding: 0px;  }
#position-search input { width: 171px; padding-left: 10px; height: 100%; line-height: 100%; border: 0px; }
#position-search .img-magnify { position: absolute; right: 7px; top: 5px; }
.position-search-placeholder { color: #717171; position: absolute;  left: 10px; top: 0px; }

.img-selction { position: relative; }
.my-position-nav .img-selction { padding-right: 5px; }
.my-position-nav .img-job-state { left: -3px; top: 4px; }
.my-position-nav .img-industry-function { left: 0px; top: 4px; }
.my-position-nav .img-cities { left: -2px; top: 3px; }
.my-position-nav .img-customer { left: -3px; top: 3px; }
.my-position-nav .img-customer-manager { left: 2px; top: 4px; }

.my-position-content { padding-bottom:  40px; }
/* ---------------------------------------------------------------- */

/* #position-nav-result */
#position-nav-result { height: auto; border-bottom: 1px solid #E0E0E0; }
#position-nav-result ul { padding: 5px 0px; }
#position-nav-result li { float: left; height: 16px; line-height: 16px; padding: 5px; background-color: #EBEBEB; margin-right: 6px; margin-bottom: 5px; }
#position-nav-result li .fa { padding-left: 5px; color: #999EAA; }
#position-nav-result li .fa:hover { cursor: pointer; }
#position-nav-result li span { color: #333; }
#position-nav-result .reset { color: #999; border: 1px solid #E0E0E0; background-color: #fff; border-radius: 5px; }

.show-result { height: 16px; line-height: 16px; border-bottom: 1px solid #E0E0E0; padding: 5px 0px; }
.show-result span { color: #000; display: inline-block; padding-right: 5px; }
/* ---------------------------------------------------------------------------------------- */
