<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>index</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../../../stylesheets/fa/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../_base/index.css"/>
  <link rel="stylesheet" href="./index.css"/>
  <script type="text/javascript" src="../../require.js" data-main="./test.js"></script>
</head>
<body>
  <div id="page">
    <nav v-class="hidden:!active">
      <div class="container">
        <template id="template-position-state">
          <div v-cloak="v-cloak" class="position-state"><a v-attr="href: val.href" v-repeat="val in list" v-on="click: onClick($event, val, $index)" v-class="active: currentListIndex == $index">{{val.text}}</a></div>
        </template>
        <ul class="nav-list">
          <li v-repeat="val in list" v-class="active: $index == activeListIndex" v-on="click: onNavListLi1Click($event, val, $index)" v-cloak="v-cloak">
            <div class="nav-title container"><i v-class="val.iconClassName" class="icon-nav icon-nav-cat"></i><span>{{val.text}}</span><i v-class="fa-chevron-down: !val.active, fa-chevron-up: val.active" class="icon-nav-arrow fa"></i></div>
            <div class="nav-content">
              <position-state v-if="val.desc === 'position-state'" v-show="val.active"></position-state>
              <industry-function v-if="val.desc === 'industry-function'" v-show="val.active"></industry-function>
              <custom v-if="val.desc === 'custom'" v-show="val.active"></custom>
              <custom-manager v-if="val.desc === 'custom-manager'" v-show="val.active"></custom-manager>
              <work-place v-if="val.desc === 'work-place'" v-show="val.active"></work-place>
              <salary v-if="val.desc === 'salary'" v-show="val.active"></salary>
            </div>
          </li>
        </ul>
        <div class="nav-main-search">
          <input type="text" v-model="mainSearch.text" v-attr="placeholder: mainSearch.placeholder" v-on="keyup: onKeyUp($event, mainSearch.text) | key 'enter'"/><i class="icon-nav icon-nav-cat icon-nav-search"></i>
        </div>
      </div>
    </nav>
  </div>
</body>