extends ../_base/index
append stylesheets
  link(rel="stylesheet", href="../_base/index.css")
  link(rel="stylesheet", href="./custom.css")
  style.
    body { height: 1068px; }
append script
  script(type="text/javascript", src="../../require.js", data-main="./custom.js")
append part
  header
    .header-logo
      img(src="../../../images/form-logo-fonts.png")
  content
    .container
      form.login(v-cloak)
        .form-title
          p
            i.icon-form-title
            a(href="#") {{title}}
          .caret-arrow
        .form-item
          p.company {{companyName}}
        .form-item
          input(type="text", name="email", placeholder="请输入邮箱", v-model="ajax.email.value")
        .form-item
          input(type="text", name="phone", placeholder="请输入手机号", v-model="ajax.phone.value")
        .form-item
          input(type="text", name="qq", placeholder="请输入QQ号", v-model="ajax.qq.value")
        .form-item
          input(type="password", name="password", placeholder="请输入密码", v-model="ajax.password.value")
        .form-item
          input(type="password", name="password2", placeholder="请确认输入密码", v-model="ajax.password2.value")
        .form-item
          input(type="text", name="name", placeholder="请输入姓名(必填)", v-model="ajax.name.value")
        .form-item
          input(type="text", name="ename", placeholder="请输入英文名(必填)", v-model="ajax.ename.value")
        .form-item
          input(type="button", value="注册", v-on="click: submit($event)")
        .caret-1
        .caret-2
