<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>index</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../../../stylesheets/fa/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../_base/index.css"/>
  <link rel="stylesheet" href="./custom.css"/>
  <style>body { height: 1068px; }</style>
  <script type="text/javascript" src="../../require.js" data-main="./custom.js"></script>
</head>
<body>
  <div id="page">
    <header>
      <div class="header-logo"><img src="../../../images/form-logo-fonts.png"/></div>
    </header>
    <content>
      <div class="container">
        <form v-cloak="v-cloak" class="login">
          <div class="form-title">
            <p><i class="icon-form-title"></i><a href="#">{{title}}</a></p>
            <div class="caret-arrow"></div>
          </div>
          <div class="form-item">
            <p class="company">{{companyName}}</p>
          </div>
          <div class="form-item">
            <input type="text" name="email" placeholder="请输入邮箱" v-model="ajax.email.value"/>
          </div>
          <div class="form-item">
            <input type="text" name="phone" placeholder="请输入手机号" v-model="ajax.phone.value"/>
          </div>
          <div class="form-item">
            <input type="text" name="qq" placeholder="请输入QQ号" v-model="ajax.qq.value"/>
          </div>
          <div class="form-item">
            <input type="password" name="password" placeholder="请输入密码" v-model="ajax.password.value"/>
          </div>
          <div class="form-item">
            <input type="password" name="password2" placeholder="请确认输入密码" v-model="ajax.password2.value"/>
          </div>
          <div class="form-item">
            <input type="text" name="name" placeholder="请输入姓名(必填)" v-model="ajax.name.value"/>
          </div>
          <div class="form-item">
            <input type="text" name="ename" placeholder="请输入英文名(必填)" v-model="ajax.ename.value"/>
          </div>
          <div class="form-item">
            <input type="button" value="注册" v-on="click: submit($event)"/>
          </div>
          <div class="caret-1"></div>
          <div class="caret-2"></div>
        </form>
      </div>
    </content>
  </div>
</body>