extends ../_base/index
append stylesheets
  link(rel="stylesheet", href="../_base/index.css")
  link(rel="stylesheet", href="./login.css")
  style.
    body { height: 1068px; }
append script
  //script(type="text/javascript", src="../../require.js", data-main="./login.js")
append part
  header
    .header-logo
      img(src="../../../images/form-logo-fonts.png")
  content
    .container
      form.login
        .form-item
          input(type="text", placeholder="请输入邮箱/手机号")
        .form-item
          input(type="password", placeholder="请输入密码")
        .form-item
          input(type="submit", value="登陆")
        .caret-1
        .caret-2
