@import "../_base/index.scss";
@import "../header/index.scss";
@import "../copyright/index.scss";
/* if test, add up codes, else, comment or remove up codes */

/* ------------------------------------------------------------------------ */
/* =====================   @classPrefix: .pd-*     ======================== */
/* ------------------------------------------------------------------------ */

/* vars */
$pd-padding-10: 10px;
$pd-main-border-width: 1px;
$pd-main-border-color: #d8d7d6;
$pd-main-title-height: 14px;
$pd-main-title-h2-color: #333;
$pd-p-color: #626262;
$pd-main-title-zindex: 2;
$pd-scrollbar-zindex: 2;
/* ------------------------------------------------------------------------ */

/* floats */
.pd-main-col-1,
.pd-main-col-2 {
  float: left;
}
/* ------------------------------------------------------------------------ */

/* .position-detail */
.position-detail {
  padding-top: 25px;
  padding-bottom: 150px;
  // --------------------------------------
  width: 100%;
  > .container { width: 84.5%; }
  main, aside { float: left; }
  main { width: 78%; padding-right: 20px; }
  aside { width: 20%; }
  // --------------------------------------
  .fa { cursor: pointer; }
  $qq-size: 12px;
  .fa-qq {
    display: inline-block;
    color: #539edc;
    font-size: $qq-size;
    padding: 2px;
    line-height: $qq-size;
    text-align: center;
    border-radius: 9px;
    border: 1px solid #539edc;
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-side-item + .pd-main-item */
.pd-main-item {
  position: relative;
  p { color : $pd-p-color; }
}
.pd-side-item {
  @extend .pd-main-item;
}
.pd-side-item .pd-side-title,
.pd-main-item .pd-main-title {
  padding-bottom: 14px;
}
/* ------------------------------------------------------------------------ */

/* .pd-side-border + .pd-main-border */
.pd-side-border,
.pd-main-border {
  position: absolute;
  left: 0;
  top: ceil($pd-main-title-height / 2) + $pd-main-border-width;
  width: 98%;
  height: 0;
  border-top: $pd-main-border-width solid $pd-main-border-color;
  z-index: $pd-main-title-zindex - 1;
}
/* ------------------------------------------------------------------------ */

/* .pd-side-title + .pd-main-title */
.pd-side-title,
.pd-main-title {
  position: relative;
  height: $pd-main-title-height;
  line-height: $pd-main-title-height;
  z-index: $pd-main-title-zindex;
  h2, p {
    float: left;
    background-color: #fff;
    height: $pd-main-title-height;
    line-height: $pd-main-title-height;
  }
  h2 { color: $pd-main-title-h2-color; }
  p {
    position: relative;
    top: ceil($pd-main-title-height / 6);
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-position-desc */
.pd-position-desc {
  padding-bottom: 64px;
  .fa-download { color: $pd-p-color; }
  .pd-main-title {
    i { padding-right: $pd-padding-10; }
    p { padding-left: $pd-padding-10; }
    div {
      padding-left: $pd-padding-10;
      padding-right: abs($pd-padding-10 / 2);
      background-color: #fff;
      float: right;
      position: relative;
      top: -1 * ceil($pd-main-title-height / 2);
      a {
        display: block;
        height: $pd-main-title-height;
        line-height: $pd-main-title-height;
        padding: 7px 12px;
        color: #fff;
        font-weight: bold;
        background-color: #539edc;
      }
    }
  }
  .pd-main-content {
    p { height: 24px; line-height: 24px; }
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-main-benifit */
.pd-main-benifit {
  $pad-top: 4px;
  $font-size: 12px;
  $border-width: 1px;
  $box-height: $pad-top * 2 + $font-size + 2 * $border-width;
  $box-pad: 10px;
  position: absolute;
  top: -1 * ($box-height + $box-pad);
  left: 0;
  a {
    display: inline-block;
    font-size: $font-size;
    height: $font-size;
    line-height: $font-size;
    padding: $pad-top abs(1.5 * $pad-top);
    border-radius: ceil($box-height / 2);
    background-color: #fff;
    border: $border-width solid #eaeaea;
    margin-right: 6px;
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-position-info */
.pd-position-info {
  .pd-main-title {
    padding-bottom: 14px;
    h2 { padding-right: 5px; }
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-position-info-content */
.pd-position-info-content {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
  ol {
    list-style: decimal;
    padding-left: 1.8em;
  }
  p {
    height: 16px;
    line-height: 16px;
  }
  .pd-words p {
    height: 26px;
    line-height: 26px;
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-position-info-scrollbar */
.pd-position-info-scrollbar {
  position: absolute;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: #e5e5e5;
  z-index: $pd-scrollbar-zindex;
  div {
    width: 10px;
    height: 40px;
    background-color: #539edc;
    cursor: pointer;
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-position-info-sport */
.pd-position-info-sport {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $pd-scrollbar-zindex - 1;
  .pd-main-col-1 { width: 186px; }
}
/* ------------------------------------------------------------------------ */

/* .pd-custom-needs */
.pd-custom-needs {
  padding-top: 24px;
}
/* ------------------------------------------------------------------------ */

/* .pd-position-details */
.pd-position-details {
  padding-top: 24px;
}
/* ------------------------------------------------------------------------ */

/* .pd-note */
.pd-note {
  padding-top: 24px;
  h4 { color: $pd-p-color; }
}
/* ------------------------------------------------------------------------ */

/* .pd-received-cvs */
.pd-received-cvs {
  margin-top: 60px;
  .pd-main-border { width: 100%; }
  .pd-main-title {
    padding-bottom: 20px;
    h2 { padding-right: 5px; }
  }
  p { float: left; overflow: hidden; }
  em { font-style: normal; }
  .pd-rcv-name {
    width: 56px;
    a { text-decoration: underline; }
  }
  .pd-rcv-consult { width: 115px; }
  .pd-rcv-date { width: 92px; }
  // this width should be defined, as don't know whether this section could exists many lines
  .pd-rcv-note { width: 200px; }
}
/* ------------------------------------------------------------------------ */

/* .pd-side-title h2 */
.pd-side-title h2 {
  padding-right: 5px;
}
/* ------------------------------------------------------------------------ */

/* .pd-delegate-company */
.pd-delegate-company {
  padding-bottom: 53px;
  li {
    float: left;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    border: 1px solid $pd-main-border-color;
    border-radius: 11px;
    padding-left: 6px;
    min-width: 66px;
    background-color: #fff;
    cursor: pointer;
  }
  .fa-remove {
    color: $pd-p-color;
  }
  span {
    display: inline-block;
    padding-right: 20px;
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-quick-preview */
.pd-quick-preview {
  padding-bottom: 40px;
  a {
   color : #63a5de;
   text-decoration: underline;
  }
  p {
    height: 20px;
    line-height: 20px;
  }
}
/* ------------------------------------------------------------------------ */

/* .pd-seem-position */
.pd-seem-position {}
.pd-seem-position-desc {
  width: 132px;
  padding-bottom: 5px;
}
.pd-seem-position-view {
  width: 160px;
  padding-bottom: 10px;
  a {
    display: inline-block;
    float: right;
    color: #72ade1;
    text-decoration: underline;
  }
}
.pd-seem-position-view-more {
  width: 160px;
  text-align: center;
  a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    border-radius: 11px;
    border: 1px solid #72ade1;
    color: #72ade1;
  }
}
/* ------------------------------------------------------------------------ */
