<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>todos</title>
  <link rel="stylesheet" type="text/css" href="../../css/apps/vue-todos-peter-11-13.css">
  <script type="text/javascript" src="../../js/libs/requirejs-2.1.16.min.js" data-main="../../js/apps/vue-todos-peter-11-13.js"></script>
</head>
<body>
  <div id="page">
    <h1 id="title" class="center">
      todos
    </h1>
    <div id="content">
      <div class="container">
        <div id="todo">
          <div class="task task-input" v-on="mouseenter: handleEnter">
            <p class="task-side">
              <a href="#/ninja" v-class="active: isActive" v-on="click: toggleAll"></a>
            </p>
            <div class="task-main">
              <input v-model="inputs" v-on="keyup:inputsDone(inputs) | key 'enter'" type="text">
            </div>
          </div>
          <ul class="task-list">
            <li v-repeat="item in list" v-class="task:1, task-item:1, task-item-done: item.isCompleted" index="{{$index}}">
              <p class="task-side">
                <input v-on="click: completeItem" type="checkbox" v-attr="checked:item.isCompleted">
              </p>
              <div class="task-main">
                <input type="text" v-model="item.inputs" v-on="keyup: showTaskMask | key 'enter'">
                <div class="task-mask" v-show="item.isShowTaskMask"></div>
              </div>
              <button v-on="click: deleteItem" v-show="item.isShowDelete" class="task-delete">x</button>
            </li>
          </ul>
          <div class="task-info" v-on="mouseenter: handleEnter">
            <p class="center">
              <span class="task-num">
                {{activeLength}} items left
              </span>
              <a href="#/ninja" v-on="click: toggle($index)" v-repeat="list" v-class="active: activeIndex == $index">
                {{$value}}
              </a>
              <a href="#/ninja" v-on="click: clearCompleted" class="task-info-clear">
                {{clearKey}}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="foot">
      <p class="center">Double-click to edit a todo</p>
      <p class="center">Written by Peter</p>
      <p class="center">Part of TodoMVC</p>
    </div>
  </div>
</body>
</html>