<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>index</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, use-scale=no"/>
  <link rel="stylesheet" href="../../../stylesheets/fa/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../_base/index.css"/>
  <link rel="stylesheet" href="./index.css"/>
  <script type="text/javascript" src="../../require.js" data-main="./load.js"></script>
</head>
<body>
  <div id="page">
    <div style="width:1050px;" class="container">
      <div id="pagination" v-show="active" v-cloak="v-cloak">
        <div class="pagination-prev"><a href="#" v-on="click: onClick($event, cur - 1)">Prev</a></div>
        <p><a href="#" v-on="click: onClick($event, 0)" class="start">Start</a><a href="#" v-repeat="i in len" v-show="i &lt;= start + remaining &amp;&amp; i &gt; start - 1" v-class="active: cur === i" v-on="click: onClick($event, i)">{{i + 1}}</a><span v-show="start + remaining &lt; len - 1">...</span><a href="#" v-on="click: onClick($event, len - 1)" class="last">Last</a></p>
        <div class="pagination-next"><a href="#" v-on="click: onClick($event, cur + 1)">Next</a><a href="#" v-on="click: onClick($event, cur + 1)"><img src="../../../images/pagination-next.jpg" width="16" height="20" class="fr"/></a></div>
      </div>
    </div>
  </div>
</body>