* { margin: 0; padding: 0; }
ul { list-style: none; }
a { text-decoration: none; }
button,
input { border: none; outline: none; }
body { background-color: #F5F5F5; }

#title { color: #EAD7D7; font-size: 70px; height: 120px; line-height: 120px;  }
#content {}

.center { text-align: center; }
.clearfix,
.container { zoom: 1; }
.clearfix:after,
.clearfix:before,
.container:after,
.container:before { clear: both; content: " "; display: block; }
#todo,
.container { margin: 0px auto; }
#todo { background-color: #fff; width: 550px; border: 1px solid #CBCBCB; border-top: none; }
#todo .hidden { display: none; }
#todo .task-side .active {
  border-left: 1px solid #D3D3FF;
  border-right: 1px solid #D3BDBD;
  border-bottom: 1px solid #737373;
}

.task { height: 58px; line-height: 58px; border-bottom: 1px solid #EDEDED; }
.task-side,
.task-main { float: left; }

.task-side { width: 60px; text-align: center; height: 58px; line-height: 58px; }
.task-side a {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #E6E6E6;
  border-top: none;
}
.task-side a.active { border: 1px solid #737373; border-top: none; }

.task-item { position: relative; }
.task-main { width: 470px; position: relative;  }
.task-main input {
  width: 470px; height: 32px; line-height: 32px;
  font-size: 24px;
  color: #4D4D4D;
}
.task-main input.active { border: 1px solid #000; padding: 10px 5px; }
.task-mask {
  width: 470px; height: 58px;
  position: absolute; left: 0px; top: 0px;
  display: block;
}
.task-delete {
  display: block;
  width: 40px; height: 40px; line-height: 40px;
  text-align: center;
  color: #AF5B5E;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  position: absolute; right: 0px; top: 6px;
  opacity: .6;
  transition: opacity .2s ease-out;
}
.task-delete.active { opacity: 1; }

#page .task-item-done input {
  color: #d9d9d9;
  text-decoration: line-through;
}

.task-list {}
.task-item {}
.task-num {}
.task-all {}
.task-active {}
.task-completed {}

.task-info { height: 42px; line-height: 42px; }
.task-info p span,
.task-info p a { font-size: 12px; float:left; color: #777777; display: inline-block; }
.task-info p span { padding-left: 15px; padding-right: 80px; }
.task-info p a { height:22px; line-height: 22px; padding: 0px 5px; margin-left: 10px; margin-top: 10px; border: 1px solid #fff; border-radius: 4px; }
.task-info p a:hover,
.task-info p .active { border: 1px solid #EFD5D5; }
.task-info .task-info-clear {
  float:right;
  padding-right: 20px;
}
#foot { padding-top: 50px; }
#foot p { color : #BFBFBF; font-size: 12px; }