include ../mixin.jade
- var user = {};
- user.name = "王霞";
- user.date = { week: "星期五", year: "2015年", month: "10月", day: "12号" };
- user.address = {};
- user.address.name = "上海";
- user.address.temperature = 26;
- user.address.airQualityCondition = "良好";
- user.address.weatherCondition = "good";
- user.info = {};
- user.info.receive = 10;
- user.info.delegate = 32;
- user.info.recommendFeedback = 6;
- user.info.feedbackApply = 11;
- user.info.buildMatch = 115;
+show-user(user)